.total_sec{
    font-weight: 600;
    font-size: 1rem;
}

.total_sec span{
    color: #090;
    
}

.popup_num{
 cursor: pointer;
}
.total_sec1{
    font-weight: 600;
    font-size: 1rem;
}

.total_sec1 span{
    color: rgb(0, 46, 153);
    
}
.active_trbg td {
	background: #FF474C;//ff0000
}