<div class="form-cointainer">
  <div class="main-tab">
    <div class="col-lg-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/application/mobileattendancemaster" routerLinkActive="active" class="nav-link " style="color: #1f723f;">Add</a>
        </li>
        <li class="nav-item">
          <a routerLink="/application/mobileattendancemasterview" routerLinkActive="active" class="nav-link active"
            >View</a>
        </li>
      </ul>
    </div>
  </div>

<div class="row" style="margin-top: 10px;margin-bottom: 10px;">
  <div class="col-lg-3 col-xxl-3" style="margin-top: 11px;">
    <div class="col-sm-*" *ngIf="showPegi">
      show
      <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value={{count}}>All</option>
      </select> entries
    </div>
  </div>
  <div class="col-lg-3 col-xxl-3" style="margin-top: 13px;">
    <b>Total : <span style="color: green;">{{count}}</span></b>
  </div>
  <div class="col-2" style="text-align:end ;">
    <button class="btn btn-success btn-sm mx-1" style="margin-top: 10px" tooltip="Excel" (click)="downloadList(1)">
    <i class="bi bi-file-earmark-spreadsheet"></i>
    </button>
    <button class="btn btn-danger btn-sm mx-1" style="margin-top: 10px" tooltip="pdf" (click)="downloadList(2)">
    <i class="bi bi-file-earmark-pdf"></i>
    </button>
  </div>
  <div class="col-lg-4 col-xxl-4">
    <div class="input-group">
      <input type="text" id="txtsearchDate" class="form-control" placeholder="Search here" name="txtsearchDate"
        [(ngModel)]="txtsearchDate">
    </div>
  </div>
</div>
<div class="form-cointainer">
  <div class="main-tab">
    <div class="row justify-content-between">
      <div class="table-responsive">
        <table class="table table-striped" mb-0>
          <caption></caption>
          <thead>
            <tr>
              <th>Sl No</th>
              <th>State Name</th>
              <th>District Name</th>
              <th>Location Name</th>
              <th>Created By</th>
              <th>Created On</th>
              <th>Status</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of list | filter:txtsearchDate |
                      paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage};
                      index as i">
              <td *ngIf="currentPage==1">{{i+1}}</td>
              <td *ngIf="currentPage!=1">{{(currentPage-1)*pageElement+i+1}}</td>
              <td>{{item.stateName}}</td>
              <td>{{item.districtName}}</td>
              <td>{{item.locationName}}</td>
              <td>{{item.createdBy}}</td>
              <td>{{item.createdOn}}</td>
              <td>{{item.statusFlag == 0 ? 'Active' : 'InActive'}}</td>
              <td style="text-align: center;">
                <a class="btn btn-outline-primary btn-sm me-1">
                    <i (click)="edit(item)" class="bi bi-pencil"></i>
                </a>
              </td>
            </tr>
            <tr *ngIf="count==0">
              <td colspan="10" style="text-align:center;"><strong class="text-danger">No data found</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row" *ngIf="showPegi">
        <div class="col-sm-4">
          <div class="col-sm-*">
            show
            <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="300">300</option>
              <option value={{count}}>All</option>
            </select> entries
          </div>
        </div>
        <div class="col-sm-8 text-right">
          <pagination-controls id="listing_pagination" [maxSize]="100" [directionLinks]="true"
            (pageChange)="currentPage = $event" class="text-end"
            (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
