<div class="form-cointainer">
  <div class="main-tab">
    <div class="col-lg-4">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a routerLink="/application/smscoringadd" routerLinkActive="active" class="nav-link active"
            style="color: #1f723f;">Action</a>
        </li>
        <li class="nav-item">
          <a routerLink="/application/smscoringview" routerLinkActive="active" class="nav-link "
            style="color: #1f723f;">View</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="content-box">
    <div class="row">
      <div class="col-lg-3 col-xxl-3">
        <div class="mb-xl-3">
          <label class="control-label">Year<span class="text-danger">*</span></label>
          <select class="form-select" id="yearId" name="yearId" [(ngModel)]="selectedYear">
              <option value="" selected disabled>Select Year</option>
              <ng-container *ngFor="let year of years">
                <option value={{year}}>{{ year }}</option>
              </ng-container>
          </select>
      </div>
      </div>
      <div class="col-lg-3 col-xxl-3">
        <div class="mb-xl-3">
          <label class="control-label">Month<span class="text-danger">*</span></label>
          <select class="form-select" name="monthId" id="monthId"
                  aria-label="Disabled select example" [(ngModel)]="month">
              <option value=1>January</option>
              <option value=2>February</option>
              <option value=3>March</option>
              <option value=4>April</option>
              <option value=5>May</option>
              <option value=6>June</option>
              <option value=7>July</option>
              <option value=8>August</option>
              <option value=9>September</option>
              <option value=10>October</option>
              <option value=11>November</option>
              <option value=12>December</option>
            </select>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-xxl-3">
        <div class="mb-xl-3">
          <label class="control-label">State Name</label>
          <select class="form-select" name="stateId" id="stateId" (change)="OnChangeState($event.target.value)">
            <option value="" selected>Select State</option>
            <ng-container *ngFor="let item of stateList">
              <option value={{item.stateCode}}>{{item.stateName}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col-lg-3 col-xxl-3">
        <div class="mb-xl-3">
          <label class="control-label">District Name</label>
          <select class="form-select" name="districtId" id="districtId"
            (change)="OnChangeDistrict($event.target.value)">
            <option value="" selected>Select District</option>
            <ng-container *ngFor="let item of districtList">
              <option value={{item.districtcode}}>{{item.districtname}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col-lg-4 col-xxl-4">
        <div class="mb-xl-3">
          <label class="control-label mb-2">Select Hospital</label>
          <ng-autocomplete [data]="hospitalList" placeholder="Select Hospital" (selected)="selectEvent($event)"
            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keyword"
            spellcheck="false" (inputCleared)="onReset()">
          </ng-autocomplete>
          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.hospitalName"></a>
          </ng-template>
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xxl-4">
        <div class="mb-xl-3">
          <label class="control-label mb-2">Select SwasthyaMitra</label>
          <ng-autocomplete [data]="smList" placeholder="Select SwasthyaMitra" (selected)="selectEvent1($event)"
            [itemTemplate]="itemTemplate1" [notFoundTemplate]="notFoundTemplate1" [searchKeyword]="keyword1"
            spellcheck="false" (inputCleared)="onReset1()">
          </ng-autocomplete>
          <ng-template #itemTemplate1 let-item>
            <a [innerHTML]="item.fullname"></a>
          </ng-template>
          <ng-template #notFoundTemplate1 let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>
      <div class="col-lg-4 col-xxl-4" style="margin-top:27px;">
        <div class="mb-xl-3">
          <div class="d-grid gap-2 d-md-flex">
            <button type="submit" class="btn btn-success" (click)="search()">Search</button>
            <button type="reset" class="btn btn-secondary" (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <div class="row">
      <div class="col-3" style="margin-top: 10px">
        <div class="col-sm-*" *ngIf="showPegi">
          show
          <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value={{totalcount}}>All</option>
          </select> entries
        </div>
      </div>
      <div class="col-3" style="margin-top: 10px">
        <b>Total No. of Records : {{totalcount}}</b>
      </div>
      <div class="col-2" style="text-align:end ;">
        <button class="btn btn-success btn-sm mx-1" style="margin-top: 10px" tooltip="Excel" (click)="downloadList(1)">
          <i class="bi bi-file-earmark-spreadsheet"></i>
        </button>
        <button class="btn btn-danger btn-sm mx-1" style="margin-top: 10px" tooltip="pdf" (click)="downloadList(2)">
          <i class="bi bi-file-earmark-pdf"></i>
        </button>
      </div>
      <div class="col-4">
        <input type="text " id="txtsearchDate " name="txtsearchDate " [(ngModel)]="txtsearchDate" maxlength="20 "
          class="form-control " placeholder="Search here...... " autocomplete="off"
          style=" margin-right: 0px; margin-left: 0px;">
      </div>
    </div>
    <div class="table-responsive" style="margin-top: 1ch;">
      <table class="table table-striped mb-0">
        <caption></caption>
        <thead>
          <tr>
            <th>Sl#</th>
            <th>SM Name</th>
            <th>Contact No</th>
            <th>Email Id</th>
            <th>Registration Date</th>
            <th style="text-align: center;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let v of list | filter:txtsearchDate | paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage},index as i">
            <td *ngIf="currentPage==1 ">{{(i+1)}}</td>
            <td *ngIf="currentPage!=1 ">{{(currentPage-1)*pageElement+ i+1}}</td>
            <td>{{v.fullname}}</td>
            <td>{{v.phoneNO}}</td>
            <td>{{v.email}}</td>
            <td>{{v.dateofjoin}}</td>
            <td style="text-align: center" title="Take Action" >
                <button style="text-align: center;" class="btn btn-outline-success btn-sm me-2"
                  (click)="onaction(v.smuserid)">Action</button></td>
          </tr>
          <tr *ngIf="totalcount==0">
            <td colspan="10" style="text-align:center;">
              <strong class="text-danger">NO DATA FOUND!!</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="showPegi">
      <div class="col-sm-4">
        <div class="col-sm-*">
          show
          <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value={{totalcount}}>All</option>
          </select> entries
        </div>
      </div>
      <div class="col-sm-8 text-right">
        <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true"
          (pageChange)="currentPage = $event" class="text-end" (pageBoundsCorrection)="onPageBoundsCorrection($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal modal-custom-backdrop" id="swasmodal" tabindex="-1" aria-labelledby="exampleModalLabel" style="backdrop-filter: blur(5px);"
        aria-hidden="true">
        <div class="modal-dialog " style="max-width: 70%;">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalLabel" >Swasthya Mitra Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closemodal()"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-lg-4 col-xxl-4 border-end">
                        <div class="mb-xl-3">
                          <h5><b style="color: rgb(80, 80, 233);">SwasthyaMitra FullName</b></h5>
                            <p style="margin-left: 3ch;"><b>{{smdetails?.fullname}}</b></p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-xxl-4 border-end">
                        <div class="mb-xl-3">
                          <h5><b style="color: rgb(80, 80, 233);">SwasthyaMitra MobileNo</b></h5>
                            <p style="margin-left: 3ch;"><b>{{smdetails?.phoneNO}}</b></p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-xxl-4 ">
                        <div class="mb-xl-3">
                          <h5><b style="color: rgb(80, 80, 233);">Date Of Joining</b></h5>
                            <p style="margin-left: 3ch;"><b>{{smdetails?.dateofjoin}}</b></p>
                        </div>
                      </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-3 col-xxl-3 border-end">
                      <div class="mb-xl-3">
                        <h5><b style="color: rgb(80, 80, 233);">SNA Score Out of 50</b></h5>
                        <p style="margin-left: 3ch;"><b>{{smdetails?.snascore}}</b></p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xxl-3 border-end">
                      <div class="mb-xl-3">
                        <h5><b style="color: rgb(80, 80, 233);">DC Score Out of 50</b></h5>
                        <p style="margin-left: 3ch;"><b>{{smdetails?.dcscore}}</b></p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xxl-3 border-end">
                      <div class="mb-xl-3">
                        <h5><b style="color: rgb(80, 80, 233);">No Of Duty days</b></h5>
                        <p style="margin-left: 3ch;"><b>{{smdetails?.dutydays}} Days</b></p>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xxl-3">
                      <div class="mb-xl-3">
                        <h5><b style="color: rgb(80, 80, 233);">No Of Present days</b></h5>
                        <p style="margin-left: 3ch;"><b>{{smdetails?.presentdays}} Days</b></p>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-6 col-xxl-6 border-end">
                      <div class="mb-xl-3">
                        <h5><b style="color: rgb(80, 80, 233);">SNA Remark</b></h5>
                          <p style="margin-left: 3ch;"><b>{{smdetails?.snaremark}}</b></p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-xxl-6">
                      <div class="mb-xl-3">
                        <h5><b style="color: rgb(80, 80, 233);">DC Remark</b></h5>
                          <p style="margin-left: 3ch;"><b>{{smdetails?.dcremark}}</b></p>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-12 col-xxl-12">
                      <div class="table-responsive  example-container">
                        <table class="table table-striped">
                          <caption></caption>
                          <thead>
                            <tr>
                              <th>Sl No</th>
                              <th>Hospital Details</th>
                              <th>State</th>
                              <th>District</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of smhosplist index as j">
                              <td>{{j+1}}</td>
                              <td>{{item.hospitalname}}</td>
                              <td>{{item.state}}</td>
                              <td>{{item.dist}}</td>
                            </tr>
                            <tr *ngIf="! smhosplist?.length">
                              <td colspan="5" style="text-align: center;"><strong class="text-danger">No data found</strong></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-xxl-6 ">
                      <div class="mb-xl-3">
                        <label for="EnterFunctionDescription" class="form-label">Remark<span class="text-danger">*</span></label>
                        <textarea class="form-control" placeholder="Enter Remark"
                          autocomplete="off" id="remark" maxlength="500" #myInput (keypress)="keyPress($event)"></textarea>
                        <span class="text-danger small">Characters Remaining: {{maxChars - myInput.value.length}}</span>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xxl-3 " style="margin-top:12px;">
                      <div class="mb-xl-3">
                        <label for="EnterFunctionDescription" class="form-label">Score<span class="text-danger">*</span></label>
                        <select class="form-select" id="score" name="score">
                          <option value="" selected disabled>Select Score</option>
                          <ng-container *ngFor="let no of scorelist">
                            <option value={{no}}>{{ no }}</option>
                          </ng-container>
                      </select>
                      </div>
                    </div>
                    <div class="col-lg-3 col-xxl-3" style="margin-top:40px; text-align: center;">
                      <div class="mb-xl-3">
                        <button type="submit" class="btn btn-success me-2" (click)="submit(smdetails?.smuserid)">Submit</button>
                        <button type="reset" class="btn btn-secondary" (click)="closemodal()">Cancel</button>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

