<div class="form-cointainer bg-transparent p-0 border-0">
    <div class="content-box bg-transparent border-0 pt-5"  id="printArea">
        <h3 class="text-muted text-center my-5">Welcome to Gopabandhu Jana Arogya Yojana</h3>
    </div>
</div>
<!-- <div>
  <marquee width="95%" direction="left" height="100px">
      <h4 class="text-muted">
      <ng-container *ngFor="let v of list">
        * {{v.noticeContent}} <span style="color: rgb(241, 8, 8); font-size: 15px; "  *ngIf="v.docpath!=null" (click)="downlordnotification($event,v.docpath)"> Notification</span>&nbsp;&nbsp;
      </ng-container></h4>
    </marquee>
</div> -->
<div class="row d-flex align-items-center justify-content-center" *ngIf="list.length>0">
  <div class="col-xxl-6 col-lg-6">
    <div class="card h-100">
      <div class="card-header text-bg-default p-0">
        <div class="d-flex px-xxl-4 p-xxl-2 p-xl-2 px-xl-3 p-lg-2 px-lg-2 p-md-2 px-md-3 p-xs-2 align-items-center bg-primary">
          <div class="w-100">
            <h5><div class="number-lg" style="font-size: 14pt; color: white;">Notifications</div></h5>
            <!-- <p class="small-p mb-md-0">Pending</p> -->
          </div>
          <div class="flex-shrink-1">
            <div class="number-light text-primary" style="background-color: white; border-radius: 20px; font-size: 14pt; width: 20pt; text-align: center; font-weight: bold;">
              {{list.length}}
            </div>
            <!-- <div *ngIf="list.length==0" style="font-size: 14pt;">&nbsp;</div> -->
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar bg-primary w-100"
            role="progressbar"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </div>
      <div class="card-body st-report p-0" style="overflow-y: scroll; height: 140pt;">
        <ul class="list-group list-group-flush" *ngIf="list.length>0">
          <ng-container *ngFor="let v of list">
            <li class="list-group-item">
              <span class="text-danger">*</span>
              {{v.noticeContent}}
              <a href="javasript:void(0)" style="color: green;" *ngIf="v.docpath!=null" (click)="downlordnotification($event,v.docpath)">
                <i class="bi bi-download"></i>
              </a>
            </li>
          </ng-container>
        </ul>
        <div *ngIf="list.length==0" style="color: red; text-align: center; font-weight: bold; padding-top: 8%; font-size: 16pt;">
          You have no new notification
        </div>
      </div>
    </div>
  </div>
</div>
