<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/QueryReClaimedAndPendingAtSNA" class="nav-link active">Query Re-Claimed And Pending At SNA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="col-xxl-10">
            <div class="row">
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3">
                        <label class="control-label">Actual Date of Discharge From<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="datepicker17" name="fromDate1">
                            <label class="input-group-text bg-transparent border-start-0" for="datepicker17"><i class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3">
                        <label class="control-label">Actual Date of Discharge To<span class="text-danger">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="datepicker18" name="toDate1">
                            <label class="input-group-text bg-transparent border-start-0" for="datepicker18"><i class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3">
                        <label class="control-label">Old Claim Status</label>
                        <select class="form-select" id="claimstatus"  [(ngModel)]="claimstatus" aria-label="Disabled select example" >
                            <option value="" selected>Select Status</option>
                            <option value="SNARejected">SNARejected</option>
                            <option value="Approved">Approved</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-2">
                    <div class="d-grid gap-2 d-md-flex">
                        <button type="submit" class="btn btn-success" (click)="getSnoClaimDetails()">Search</button>
                        <button type="reset" class="btn btn-secondary" (click)="ResetField()">Reset</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;" *ngIf="snoclaimlist?.length!=0">
        <div class="col-lg-4 col-xxl-4" style="padding-top: 10px; padding-left: 20px;">
            show
            <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value={{snoclaimlist?.length}}>All</option>
            </select> entries &nbsp;&nbsp;
            <!-- Total Claim : {{record}} -->
        </div>
        <div class="col-lg-4 col-xxl-4" style="text-align: right; padding-top: 3px;">
            <button class="btn btn-outline-success btn-sm me-1" tooltip="Excel" (click)="downloadReport()">
                <i class="bi bi-file-earmark-spreadsheet" style="font-size: 11pt;"></i>
            </button> &nbsp;
            <button class="btn btn-outline-danger btn-sm me-1" tooltip="pdf" (click)="downloadPdf()">
                <i class="bi bi-file-earmark-pdf" style="font-size: 11pt;"></i>
            </button>
        </div>
        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" placeholder="Search here..." name="txtsearchDate"
                    [(ngModel)]="txtsearchDate" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="content-box p-0 overflow-hidden" >
        <div class="table-responsive">
            <table class="table table-striped mb-0">
                <thead>
                    <tr>
                    <th>Sl No.</th>
                    <th>Claim No.</th>
                    <th>URN</th>
                    <th>Patient Name</th>
                    <th>Invoice Number</th>
                    <th>Package Code</th>
                    <th>Date of Admission</th>
                    <th>Actual Date of Admission</th>
                    <th>Date of Discharge</th>
                    <th>Actual Date of Discharge</th>
                    <th>Old Claim Status</th>
                    <th>Re-Claim Amount (₹)</th>
                    <th>Re-Claim On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let claim of snoclaimlist | filter:txtsearchDate | paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage};
                    index as i">
                        <td *ngIf="currentPage==1">{{(i+1)}}</td>
                        <td *ngIf="currentPage!=1">{{(currentPage-1)*pageElement+ i+1}}</td>
                        <td> {{claim.CLAIMNO}}</td>
                        <td> {{claim.URN}}</td>
                        <td> {{claim.PATIENTNAME}}</td>
                        <td> {{claim.INVOICENO}}</td>
                        <td title={{claim.PACKAGENAME}}>{{claim.PACKAGECODE}}</td>
                        <td> {{claim.DATEOFADMISSION | date :'dd-MMM-yyyy'}}</td>
                        <td> {{claim.ACTUALDATEOFADMISSION | date :'dd-MMM-yyyy'}}</td>
                        <td> {{claim.DATEOFDISCHARGE | date :'dd-MMM-yyyy'}}</td>
                        <td> {{claim.ACTUALDATEOFDISCHARGE | date :'dd-MMM-yyyy'}}</td>
                        <td> {{claim.OLDCLAIMSTATUS}}</td>
                        <td> {{claim.CLAIMAMOUNT | currency :'':''}}</td>
                        <td> {{claim.ACTIONON | date :'dd-MMM-yyyy, h:mm:ss a'}}</td>
                    </tr>
                    <tr  *ngIf="snoclaimlist?.length==0">
                        <div class="row">
                            <span style="color: red;text-align: center;position:absolute">NO DATA FOUND!!</span>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;" *ngIf="snoclaimlist?.length!=0">
        <div class="col-sm-6">
            <div class="col-sm-*">
                show
                <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value={{snoclaimlist?.length}}>All</option>
                </select> entries
            </div>
        </div>
        <div class="col-sm-6 text-right">
            <pagination-controls id="listing_pagination" [maxSize]="20" [directionLinks]="true" (pageChange)="currentPage = $event" (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
        </div>
    </div>
</div>
