<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/systemadminsnarejected" class="nav-link active">System Admin - SNA Rejected  List</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="content-box mt-3">
        <div class="col-xxl-10">
            <div class="row">
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">Actual Date of Discharge From</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="datepickerforreject" name="fromDate" autocomplete="off">
                            <label class="input-group-text bg-transparent border-start-0" for="datepickerforreject"><i
                                    class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">To</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="datepickerfortoreject" name="toDate" autocomplete="off">
                            <label class="input-group-text bg-transparent border-start-0" for="datepickerfortoreject"><i
                                    class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-10">
            <div class="row">
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">Package Category</label>
                        <select class="form-select" id="Package" aria-label="Disabled select example" placeholder="Enter Package Category... " autocomplete="off" (change)="getPackageName($event.target.value)">
                            <option value="" selected disabled>Select Package Category</option>
                            <ng-container *ngFor="let item of serachdata ">
                                <option value={{item.id}}>{{item.procedures}}({{item.procedurecode}})</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3 ">
                        <label class="control-label mb-2 ">Package Name</label>
                        <select class="form-select " id="PackageName" name="PackageName">
                            <option value="" selected disabled>Select Package Name</option>
                            <ng-container *ngFor="let pack of packagependingdata">
                                <option value={{pack.packagecode}}>{{pack.packagename}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">URN </label>
                        <input type="text" class="form-control" id="actionType" aria-label="Disabled select example" autocomplete="off" placeholder="Enter URN" maxlength="20" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="d-grid gap-2 d-md-flex">
                    <button type="submit" class="btn btn-success" (click)="Ongetlist()">Search</button>
                    <button type="reset" class="btn btn-secondary" (click)="restedata()">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-lg-8 col-xxl-8 row">
            <div class="col-md-9">
                <!-- <div style="padding-top: 10px; font-weight: bold; color: green">Pending Claims : {{freshClaimCount}}</div> -->
            </div>
            <div [align]="'start'" class="col-md-3">
                <button class="btn btn-danger" title="Download PDF" (click)="downloadReport('pdf')" style="float:right; margin-left: 5px;"><i class="bi bi-file-earmark-pdf"></i></button>
                <button class="btn btn-success" title="Download Excel" (click)="downloadReport('excel')" style="float: right"><i class="bi bi-download" ></i></button>
            </div>
        </div>

        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" autocomplete="off" placeholder="Search" name="txtsearchDate" [(ngModel)]="txtsearchDate">
            </div>
        </div>
    </div>

    <div class="content-box p-0 overflow-hidden ">
        <table class="table table-striped mb-0 ">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>URN</th>
                    <th>Patient Name</th>
                    <th>Case Number</th>
                    <th>Invoice Number</th>
                    <th>Package Code</th>
                    <th>ActualDate Of Admission</th>
                    <th>ActualDate Of Discharge</th>
                    <th>Last Date Of Raise Claim</th>
                    <th>Amount(₹)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let claim of getdata  |filter:txtsearchDate| paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage}; index as i ">
                    <tr>
                        <td *ngIf="currentPage==1 ">{{(i+1)}}</td>
                        <td *ngIf="currentPage!=1 ">{{(currentPage-1)*pageElement+ i+1}}</td>
                        <td>{{claim.urn}}</td>
                        <td>{{claim.patientname}}</td>
                        <td>{{claim.caseno}}</td>
                        <td>{{claim.invoiceno}} </td>
                        <td title={{claim.packagename}}>{{claim.packagecode}}</td>
                        <td>{{claim.actualdateofadmission| date :'dd-MMM-yyyy'}}</td>
                        <td>{{claim.actualdateofdischarge| date :'dd-MMM-yyyy'}}</td>
                        <td>{{claim.claimraiseby}} </td>
                        <td>{{claim.totalamountclaimed |currency:'':''}}</td>
                        <td>
                            <a class="btn btn-outline-success btn-sm " (click)="OnDetails(claim.transactiondetailsid,claim.authorizedCode,claim.hospitalcode,claim.urn) ">Details</a>
                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="snareport">
                    <td colspan="16">
                        <p class="mb-0 text-center text-danger fw-bold">NO DATA FOUND!!</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-3" *ngIf="showPegi">
    <div class="col-sm-4 ">
        <div class="col-sm-* ">
            show
            <select id="pageItems" name="pageItems" class="form-select-sm" (change)="pageItemChange()">
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="150">150</option>
                <option value="200">200</option>
                <option value={{record}}>All</option>
            </select> entries
        </div>
    </div>
    <div class="col-sm-8">
        <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true" (pageChange)="currentPage = $event" class="text-end" (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
    </div>
</div>