.pkd:hover {
    color: rgb(73, 232, 48);
    cursor: pointer;
}

.red {
    background-color: rgb(248, 20, 8);
}

.green {
    background-color: rgb(153, 238, 175);
}

.default {
    background-color: rgb(255, 255, 255);
}