<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/overridecode" routerLinkActive="active" class="nav-link">FP Override
                            Code</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a routerLink="/application/viewoverride" routerLinkActive="active" class="nav-link active">View
                            Approval</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="content-box mt-3">
        <div class="col-xxl-10">
            <div class="row">
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">Requested Date From</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="date1" name="fromDate">
                            <label class="input-group-text bg-transparent border-start-0" for="datepicker1"><i
                                    class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">Requested Date To</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="date2" name="toDate">
                            <label class="input-group-text bg-transparent border-start-0" for="datepicker2"><i
                                    class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">Hospital Name</label>
                        <div class="input-group">
                            <select class="form-select" name="hospitalCode" id="hospitalCode">
                                    <option value="" selected>Select Hospital Name</option>
                                    <ng-container *ngFor="let item of hospitalList" >
                                        <option value="{{item.hospitalcode}}">{{item.hospitaname}}({{item.hospitalcode}})</option>
                                    </ng-container>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xxl-4">
                        <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                            <label class="control-label mb-2">Status</label>
                            <select class="form-select" id="aprvStatus">
                                <option value="" selected>Select Status</option>
                                <option value="Y">Approve</option>
                                <option value="R">Reject</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="d-grid gap-2 d-md-flex">
                    <button type="submit" class="btn btn-success" (click)="overrideRequestData()">Search</button>
                    <button type="reset" class="btn btn-secondary" (click)="resetField()">Reset</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-lg-4 col-xxl-4" style="padding-top: 10px; padding-left: 17px;">
            <b>No. Of Records: <span style="color: green;">{{fpOverrideList?.length}}</span></b>
        </div>
        <div class="col-lg-4 col-xxl-4" style="text-align: right; padding-top: 3px;">
            <button class="btn btn-success btn-sm mx-1" tooltip="Excel" (click)="downloadList()">
                <i class="bi bi-download"></i>
            </button>
        </div>
        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" placeholder="Search" name="txtsearchData" [(ngModel)]="txtsearchData">
            </div>
        </div>
    </div>
    <div class="content-box p-0 overflow-hidden">
        <div class="table-responsive">
            <div class="table-scroll ">

                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th class="mw-60">Sl No.</th>
                            <th class="mw-130">Patient Name</th>
                            <th class="mw-130">URN </th>
                            <th class="mw-130">Description</th>
                            <th class="mw-130">Hospital Code</th>
                            <th class="mw-130">Hospital Name</th>
                            <th class="mw-130">Use For</th>
                            <th class="mw-130">NO. Of Days</th>
                            <th class="mw-130">Override Code</th>
                            <th class="mw-130">Approve Status</th>
                            <th class="mw-130">Requested Date</th>
                            <th class="mw-130">Approved Date</th>
                            <th class="mw-130">Remarks</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of fpOverrideList | filter:txtsearchData | paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage};index as i">
                            <td *ngIf="currentPage==1">{{i+1}}</td>
                            <td *ngIf="currentPage!=1">{{(currentPage-1)*pageElement+i+1}}</td>
                            <td>{{item.patientName}}</td>
                            <td>{{item.urn}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.hospitalCode}}</td>
                            <td>{{item.hospitalName}}</td>
                            <td>{{item.generatedThrough}}</td>
                            <td>{{item.noOfDays}}</td>
                            <td>{{item.fpOverrideCode}}</td>
                            <td>{{item.approveStatus}}</td>
                            <td>{{item.requestedDate |date: 'dd-MMM-yyyy'}}</td>
                            <td>{{item.approveDate |date: 'dd-MMM-yyyy'}}</td>
                            <td *ngIf="item.remarks!==null">{{item.remarks}}</td>
                            <td *ngIf="item.remarks==null">NA</td>
                        </tr>
                        <tr *ngIf="fpOverrideList==0">
                            <td colspan="12">
                                <p class="mb-0 text-center text-danger fw-bold">NO DATA FOUND!!</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;" *ngIf="showPegi">
        <div class="col-sm-6">
            <div class="col-sm-*">
                show
                <select id="pageItem" name="pageItem" class="custom-select-sm" (change)="pageItemChange()">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select> entries
            </div>
        </div>
        <div class="col-sm-6 text-end">
            <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true" (pageChange)="currentPage = $event"></pagination-controls>
        </div>

    </div>
</div>