<div class="container">
    <div class="form-cointainer claim-detail">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card-header">
                                <h5 class="mb-0">Basic Details</h5>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card-header">
                                <h5 class="mb-0">Appication Submission Date : <strong>{{ basicDtlsData?.applicationSubmitDate }}</strong></h5>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="card-header">
                                <a href="javascript:void(0);" class="arrow-back" title="Go Back" (click)="backClicked()"><i style="display: grid;font-size: x-large;" class="bi bi-arrow-left-circle"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row gx-xl-5">
                            <div class="col-xl-4 my-auto">
                                <div class="text-center">
                                    <div>
                                        <img class="img-account-profile rounded-circle mb-2" [src]="profilePhoto" alt="">
                                    </div>
                                    <div class="mt-2 mb-2">
                                        <a href="javascript:void(0)" title="View File">
                                            <i class="bi bi-eye" href="javascript:void(0)" (click)="downloadfileCpdRegistration('profilephoto',basicDtlsData.photograph)"></i> View
                                        </a>
                                    </div>
                                    <div class="font-italic text-muted mb-1">Applicant Name - <strong class="text-success">{{basicDtlsData?.aplicantName}}</strong>
                                    </div>
                                    <div class="small font-italic text-muted mb-2">Email Id -
                                        <strong>{{basicDtlsData?.email}}</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-8 border-start my-auto">
                                <div class="row gx-xl-5">
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Post Name</span> <br />
                                            <strong> {{basicDtlsData?.postName}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Father's Name of Applicant</span> <br />
                                            <strong> {{basicDtlsData?.fatherName}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Identity Type</span> <br />
                                            <strong>{{basicDtlsData?.identyType}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <p class="text-muted mb-0">Identity Proof No.</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-0 fw-bold">
                                                    <span>{{basicDtlsData?.identityProofNo}}</span>
                                                </p>

                                                <a href="javascript:void(0)" *ngIf="showDownloadIcon" class="download-pdf" (click)="downloadfileCpdRegistration('identityDoc',basicDtlsData.identityDoc)" title="Download PDF">
                                                    <i class="bi bi-download"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">DOB</span> <br />
                                            <strong>{{basicDtlsData?.dateOfBirth}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Age</span> <br />
                                            <strong> {{basicDtlsData?.age}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Mobile No</span> <br />
                                            <strong> {{basicDtlsData?.phonenumber}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Gender</span> <br />
                                            <strong>{{basicDtlsData?.gender}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Doctor license No</span> <br />
                                            <strong>{{basicDtlsData?.dlNo}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Language Spoken</span> <br />
                                            <strong> {{basicDtlsData?.lanuagesReadWrite}}</strong>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-3">
                                            <span class="text-muted">Request Date</span> <br />
                                            <strong>{{ basicDtlsData?.applicationSubmitDate }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-sm mt-3 mt-xl-4 ">
                    <div class="card-header">
                        <h5 class="mb-0">Address Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="text-success">
                            <h6>Present Contact Address</h6>
                        </div>
                        <div class="row gx-xl-5">
                            <div class="col-xl">
                                <p class=" text-muted mb-0">Country</p>
                                <p class="mb-0 fw-bold">
                                    India
                                </p>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">State</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.stateName1}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">District</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.districtName1}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">Mobile No.</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.psntMobileNo}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-xl-5 mt-4">
                            <div class="col-xl">
                                <p class=" text-muted mb-0">Alt. Mobile No.</p>
                                <p class="mb-0 fw-bold">
                                    {{addsDetailsData?.psntAlterMobileNo}}
                                </p>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">Postal Address</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.psntPostalAds}}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">Nearest Landmark</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.psntLandMark}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">Pincode</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.psntPinCode}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-success mt-3">
                            <h6>Permanent Contact Address</h6>
                        </div>
                        <div class="row gx-xl-5">
                            <div class="col-xl">
                                <p class=" text-muted mb-0">Country</p>
                                <p class="mb-0 fw-bold">
                                    India
                                </p>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">State</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.stateName2}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">District</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.pmntDistrictName2}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">Mobile No.</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.pmntMobileNo}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-xl-5 mt-4">
                            <div class="col-xl">
                                <p class=" text-muted mb-0">Alt. Mobile No.</p>
                                <p class="mb-0 fw-bold">
                                    {{addsDetailsData?.pmntAltMobileNo}}
                                </p>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">Postal Address</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.pmntPostalAdrs}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">Nearest Landmark</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.pmntLandMark}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex ">
                                    <div>
                                        <p class="text-muted mb-0">Pincode</p>
                                        <p class="mb-0 fw-bold">
                                            {{addsDetailsData?.pmntPinCode}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 class="mb-0">Professional Qualification</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bgcolor-th">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Qualification</th>
                                        <th class="text-center">Board/ Unversity</th>
                                        <th class="text-end">Passing Year</th>
                                        <th class="text-end">Total Marks</th>
                                        <th class="text-end">Marks Obtained</th>
                                        <th class="text-end">Marks % </th>
                                        <th class="text-end">Course Duration(Yrs.)</th>
                                        <th *ngIf="showDownloadIcon" class="text-end">Doc </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of profDataList index as i">
                                        <td class="text-center">{{i+1}}</td>
                                        <td class="text-center">{{item.qualicationName}}</td>
                                        <td class="text-center">{{item.universityName}}</td>
                                        <td class="text-end">{{item.passingYear}}</td>
                                        <td class="text-end">{{item.totalMarks}}</td>
                                        <td class="text-end">{{item.marksObtained}}</td>
                                        <td class="text-end">{{item.markPercentage}}</td>
                                        <td class="text-end">{{item.couseDuration}}</td>
                                        <td class="text-end">
                                            <a href="javascript:void(0);" title="Download PDF" *ngIf="showDownloadIcon" class="download-pdf" (click)="downloadfileCpdRegistration('professioanlDoc',item.qualificationDoc)"><i class="bi bi-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngIf="! profDataList?.length">
                                        <td colspan="10" align="center"><strong class="text-danger">No Data Found</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 class="mb-0">Experience Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bgcolor-th">
                                    <tr>
                                        <th class="text-center">Sl#</th>
                                        <th class="text-center">Employer Name</th>
                                        <th class="text-center">Post Held</th>
                                        <th class="text-center">From Date</th>
                                        <th class="text-center">To Date</th>
                                        <th class="text-center">Total Experience(Yrs.)</th>
                                        <th class="text-end" *ngIf="showDownloadIcon">Doc </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of experList index as i">
                                        <td class="text-center">{{i+1}}</td>
                                        <td class="text-center">{{item.nameOfEmployee}}</td>
                                        <td class="text-center">{{item.postHeld}}</td>
                                        <td class="text-end">{{item.fromDate}}</td>
                                        <td class="text-end">{{item.toDate}}</td>
                                        <td class="text-end">{{item.totalExpericen}}</td>
                                        <td class="text-end">
                                            <a href="javascript:void(0);" title="Download PDF" class="text-success" (click)="downloadfileCpdRegistration('experidoc',item.experienceDoc)" *ngIf="showDownloadIcon"><i class="bi bi-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!experList?.length">
                                        <td colspan="10" align="center"><strong class="text-danger">No Data Found</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-sm mt-3 mt-xl-4 ">
                    <div class="card-header">
                        <h5 class="mb-0">Speciality Mapping Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Speciality Code</th>
                                        <th class="text-center">Spciality Name</th>
                                        <th class="text-end" *ngIf="showDownloadIcon">Doc </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of speciaList index as i">
                                        <td class="text-center">{{i+1}}</td>
                                        <td class="text-center">{{item.specialityCode}}</td>
                                        <td class="text-center">{{item.specialityName}}</td>
                                        <td class="text-end" *ngIf="showDownloadIcon">
                                            <a href="javascript:void(0);" title="Download PDF" class="text-success" (click)="downloadfileCpdRegistration('specialityDoc',item.spcicalityDoc)"><i class="bi bi-download"></i></a>
                                        </td>
                                    </tr>
                                    <tr *ngIf="!speciaList?.length">
                                        <td colspan="10" align="center"><strong class="text-danger">No data
                                          found</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-xl-12">
                <div class="declaration-area">
                    <strong>Declaration</strong>
                    <div class="mt-2 mb-2">
                        <p class="form-check-label small mb-2 text-indent text-muted"><input type="checkbox" checked disabled> I do here by declare that the information furnished above are true to the best of my knowledge and belief and that, if at any stage, it is found that any of the above material information
                            is false / incorrect or is suppressed by me my candidature / appointment under state Health Assurance Society , Odisha is liable to be rejected / terminated. I also declare that I have never been disengaged from service under
                            previous employer on administrative ground such as disobedience/ poor performances/ misbehavior/ criminal activity.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="signature-area mt-3">
                    <div class="row justify-content-between">
                        <div class="col-xxl-6 col-xl-3 col-lg-3">
                            <div class="row">
                                <div class="col-xxl-6 col-xl-8 col-lg-6">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-3 col-xxl-3 col-xl-5 col-lg-6">
                                            <label for="form_filled_date" class="col-form-label py-0">Date
                                        :</label>
                                        </div>
                                        <div class="col-9 col-xxl-9 col-xl-7 col-lg-6">
                                            <label class="col-form-label py-0 fw-bold">{{basicDtlsData?.applicationSubmitDate}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-xxl-6 col-xl-8 col-lg-6">
                                    <div class="row g-3 align-items-center">
                                        <div class="col-3 col-xxl-3 col-xl-5 col-lg-6">
                                        </div>
                                        <div class="col-9 col-xxl-9 col-xl-7 col-lg-6">
                                            <label class="col-form-label py-0 fw-bold"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3">
                            <div class="file-upload text-center">
                                <img alt="Signature" [width]="200" [src]="profileSignature">
                            </div>
                            <p class="mb-1 mt-3 text-center">Signature</p>
                            <p class="small pt-1 text-center view-sign" (click)="downloadfileCpdRegistration('signaturedoc',basicDtlsData.signatureDoc)">
                                <a href="javascript:void(0)" title="View File">
                                    <i class="bi bi-eye"></i> View</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="note-area small">
                    <strong>Note -</strong>
                    <p class="mb-1">Two copies of recent passport size color self-attested photographs. One copy of self-attested photograph will, however, to be affixed at the position in the application form.</p>
                    <p class="mb-1">Self-attested photocopies of documents in support of age, qualification, experience(if any), etc.</p>
                    <p>Self-attested photocopies of identity proof (voter ID card/PAN card/ Driving License/Aadhar card/Passport)</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <hr class="my-xl-2">
            <div class="d-flex justify-content-between align-items-center mt-3 pb-3">
                <p class="mb-0">Generated Date: <strong>{{ formattedDateTime.split(' ')[0] }}</strong> and Time: <strong>{{ formattedDateTime.split(' ')[1] }}</strong><strong>  {{ formattedDateTime.split(' ')[2] }}</strong></p>
            </div>
        </div>
    </div>