<div class="form-cointainer claim-detail">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/CPDRejectedlist/Action" routerLinkActive="active" class="nav-link active">Non compliance of Query-CPD Details</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 ">
                <app-utilite (receiveResponse)="getResponseFromUtil($event)"></app-utilite>
            </div>
        </div>
    </div>
    <div class="content-box p-0 border-0 bg-transparent">
        <div class="row">
            <div class="col-lg-6 col-xl-6 col-xxl-4">
                <div class="card shadow-sm basic-info">
                    <div class="card-header">
                        <h5 class="mb-0">Basic Information</h5>
                    </div>
                    <div class="card-body">
                        <!-- <div class="d-flex align-items-center mb-3 border-bottom pb-3">
                            <span class="text-success"><i class="iconbsky-hospital fs-1 me-3"></i></span>
                            <div>
                                <p class="mb-0 fw-bold">{{ claimDetails?.HOSPITALNAME}} ({{  claimDetails?.HOSPITALCODE }})
                                    <br> {{ claimDetails?.HOSPITALADDRESS}}</p>
                            </div>
                        </div> -->
                        <div class="row border-bottom mb-3 pb-3">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center border-end">
                                    <span class="text-success"><i class="iconbsky-urn-number fs-1 me-3"></i></span>
                                    <div>
                                        <p class="text-muted mb-0">URN</p>
                                        <p class="mb-0 fw-bold">{{ claimDetails?.URN}}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row border-bottom mb-3 pb-3">
                            <div class="d-flex align-items-center">
                                <span class="text-success"><i class="iconbsky-invoice-number fs-1 me-3"></i></span>
                                <div>
                                    <p class="text-muted mb-0">Invoice Number</p>
                                    <p class="mb-0 fw-bold">{{ claimDetails?.INVOICENO}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="text-success"><i class="iconbsky-invoice-number fs-1 me-3"></i></span>
                            <div>
                                <p class="text-muted mb-0">Claim Number </p>
                                <p class="mb-0 fw-bold">{{ claimDetails?.CLAIMNO}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-xxl-4">
                <div class="card text-bg-success patient-info shadow-sm">
                    <div class="card-header">
                        <h5 class="mb-0">Patient Information</h5>
                    </div>
                    <div class="card-body py-xl-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="fw-normal mb-3">{{ claimDetails?.PATIENTNAME}}</h4>
                                <h4 class="fw-normal mb-3">{{ claimDetails?.categoryName}}</h4>
                                <ul class="list-unstyled mb-0">
                                    <li><i class="iconbsky-age"></i> {{ claimDetails?.AGE}} Years</li>
                                    <li *ngIf="  claimDetails?.GENDER=='F' "><i class="iconbsky-gender"></i> Female</li>
                                    <li *ngIf="  claimDetails?.GENDER=='M' "><i class="iconbsky-gender"></i> Male</li>
                                    <li><i class="iconbsky-mobile"></i> {{ claimDetails?.MOBILE}} </li>
                                    <li><i class="iconbsky-location"></i> {{ claimDetails?.ADDRESS}} </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card shadow-sm mt-3 mt-xl-4 ">
                    <div class="card-header">
                        <h5 class="mb-0">Treatment Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="row gx-xl-5 treatment-details">
                            <div class="col-xl">
                                <p class="small text-muted mb-0">Admitted in Hospital ({{ claimDetails?.NOOFDAYS}}days)
                                </p>
                                <h6 class="mb-0"><i class="iconbsky-calendar small"></i> {{ claimDetails?.DATEOFADMISSION | date: 'dd-MMM-yyyy'}} -

                                    <i class="iconbsky-calendar small ps-2"></i> {{ claimDetails?.DATEOFDISCHARGE | date: 'dd-MMM-yyyy'}}
                                </h6>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex align-items-center">
                                    <!-- <i class="iconbsky-package-amount mt-2 me-3 fs-1"></i> -->
                                    <div>
                                        <p class="small text-muted mb-0">Package Rate (₹)</p>
                                        <h6 class="mb-0"> {{ claimDetails?.TOTALAMOUNTBLOCKED | currency:"":"" }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex align-items-center">
                                    <!-- <i class="iconbsky-block-amount mt-2 me-3 fs-1"></i> -->
                                    <div>
                                        <p class="small text-muted mb-0">Blocked Amount (₹)</p>
                                        <h6 class="mb-0 ">{{ claimDetails?.CURRENTTOTALAMOUNT | currency:"":"" }}</h6>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                                <hr class="mt-xl-4">
                            </div>

                            <div class="col-lg-3 ">
                                <div class="d-flex align-items-center">
                                    <!-- <i class="iconbsky-block-amount mt-2 me-3 fs-1"></i> -->
                                    <div>
                                        <p class="small text-muted mb-0">Procedure</p>
                                        <h6 class="mb-0">{{ claimDetails?.PROCEDURENAME}}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 border-start">
                                <div class="d-flex align-items-center">
                                    <!-- <i class="iconbsky-block-amount mt-2 me-3 fs-1"></i> -->
                                    <div>
                                        <p class="small text-muted mb-0">Packages</p>
                                        <h6 class="mb-0">{{ claimDetails?.PACKAGENAME}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl border-start">
                                <div class="d-flex align-items-center">
                                    <!-- <i class="iconbsky-block-amount mt-2 me-3 fs-1"></i> -->
                                    <div>
                                        <p class="small text-muted mb-0">Claim Case Number</p>
                                        <h6 class="mb-0 ">{{ claimDetails?.CLAIM_CASE_NO}}</h6>
                                    </div>
                                </div>
                            </div>


                            <div class="col-xl border-start">
                                <div class="d-flex align-items-center">
                                    <!-- <i class="iconbsky-block-amount mt-2 me-3 fs-1"></i> -->
                                    <div>
                                        <p class="small text-muted mb-0">Claim Bill Number</p>
                                        <h6 class="mb-0 ">{{ claimDetails?.CLAIM_BILL_NO}}</h6>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr class="my-xl-4">
                                <h5>Pre-Auth Log</h5>
                                <div class="table-responsive">
                                    <table class="table mb-0" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th width="40" rowspan="2">Sl#</th>
                                                <th rowspan="2">Pre-Auth Code</th>
                                                <th rowspan="2">Claimed Amount (₹)</th>
                                                <th rowspan="2">Approved Amount (₹)</th>
                                                <th rowspan="2">Claimed Date</th>
                                                <th rowspan="2">Approved Date</th>
                                                <th rowspan="2">Remark</th>
                                                <th colspan="3" style="text-align:center">Documents</th>
                                                <th rowspan="2">Details</th>
                                            </tr>
                                            <tr>
                                                <th>Doc1</th>
                                                <th>Doc2</th>
                                                <th>Doc3</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="check">
                                                <tr *ngFor="let prteAuth of preAuth,index as i">
                                                    <td>{{i+1}}</td>
                                                    <td>{{prteAuth.preauthCode}}</td>
                                                    <td>{{prteAuth.claimedAmount | currency:"":""}}</td>
                                                    <td>{{prteAuth.approvedAmount | currency:"":""}}</td>
                                                    <td>{{prteAuth.claimedDate | date :'dd-MMM-yyyy, h:mm:ss a'}}</td>
                                                    <td>{{prteAuth.approvedDate | date :'dd-MMM-yyyy, h:mm:ss a'}}</td>
                                                    <td>{{prteAuth.preAuthRemarks}}</td>
                                                    <td *ngIf="prteAuth.aditionalDoc1 != undefined"><a href="javascript:void(0);" (click)="downloadAction($event,prteAuth.aditionalDoc1,prteAuth.hospitalCode,prteAuth.claimedDate,'')"><i class="bi bi-file-earmark-pdf" style="color:red;font-size:15px;"></i></a></td>
                                                    <td *ngIf="prteAuth.aditionalDoc1 == undefined">--</td>
                                                    <td *ngIf="prteAuth.aditionalDoc2 != undefined"><a href="javascript:void(0);" (click)="downloadAction($event,prteAuth.aditionalDoc2,prteAuth.hospitalCode,prteAuth.claimedDate,'')"><i class="bi bi-file-earmark-pdf" style="color:red;font-size:15px;"></i></a></td>
                                                    <td *ngIf="prteAuth.aditionalDoc2 == undefined">--</td>
                                                    <td *ngIf="prteAuth.aditionalDoc3 != undefined"><a href="javascript:void(0);" (click)="downloadAction($event,prteAuth.aditionalDoc3,prteAuth.hospitalCode,prteAuth.claimedDate,'')"><i class="bi bi-file-earmark-pdf" style="color:red;font-size:15px;"></i></a></td>
                                                    <td *ngIf="prteAuth.aditionalDoc3 == undefined">--</td>
                                                    <td><a href="javascript:void(0)" (click)="preAuthLogDetail(prteAuth.urnNo, claimDetails?.AUTHORIZEDCODE,prteAuth.hospitalCode)">Click here</a></td>
                                                </tr>
                                            </ng-container>
                                            <tr *ngIf="!check">
                                                <td colspan="8" align="center"><strong class="text-danger">No data found</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="card-body" *ngIf="check">
                                    <ul class="list-unstyled">
                                        <li><i class="iconbsky-list-icon me-2"></i> Check more information.<a href="javascript:void(0)" (click)="preAuthLogDetails( claimDetails?.URN, claimDetails?.AUTHORIZEDCODE, claimDetails?.HOSPITALCODE)">
                                                Click here</a>
                                        </li>
                                    </ul>
                                    <hr>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card shadow-sm treatment-history">
                    <div class="card-header">
                        <h5 class="mb-0">Action Taken History</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Sl#</th>
                                        <!-- <th>Action By</th> -->
                                        <th>Action On</th>
                                        <th>Action Type</th>
                                        <th>Claimed Amount (₹)</th>
                                        <th>Action Amount (₹)</th>
                                        <th>Remarks</th>
                                        <th>Description</th>
                                        <th>Discharge Slip</th>
                                        <th>Additional Docs</th>
                                        <th>Additional Docs1</th>
                                        <th>Additional Docs2</th>
                                        <th>Pre-Surgery</th>
                                        <th>Post-Surgery</th>
                                        <th>Intra Surgery Photo</th>
                                        <th>Specimen Surgery Photo</th>
                                        <th>Patient Surgery Photo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let claim of claimLog , index as i">
                                        <td>{{i+1}}</td>
                                        <!-- <td>{{claim.ACTIONBY}}</td> -->
                                        <td>{{claim.ACTIONON | date :'dd-MMM-yyyy, h:mm:ss a'}}</td>
                                        <td>{{claim.ACTIONTYPE}}</td>
                                        <td *ngIf="claim.CLAIMAMOUNT !=null">{{claim.CLAIMAMOUNT | currency:'':''}}</td>
                                        <td *ngIf="claim.CLAIMAMOUNT == null">--</td>
                                        <td *ngIf="claim.approvedamount != null">{{claim.approvedamount | currency:'':''}}</td>
                                        <td *ngIf="claim.approvedamount == null">--</td>
                                        <td *ngIf="claim.Remark != null">{{claim.Remark}}</td>
                                        <td *ngIf="claim.Remark == null">--</td>
                                        <td *ngIf="claim.REMARKS !=null"><a href="javascript:void(0)" (click)="viewDescription(claim.REMARKS)">view</a></td>
                                        <td *ngIf="claim.REMARKS == null">--</td>
                                        <td *ngIf="claim.DISCHARGESLIP != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.DISCHARGESLIP,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-file-pdf-o" style="color:red;font-size:24px;"></i></a></td>
                                        <td *ngIf="claim.DISCHARGESLIP == undefined">--</td>
                                        <td *ngIf="claim.ADITIONALDOCS != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.ADITIONALDOCS,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-file-pdf-o" style="color:red;font-size:24px"></i></a></td>
                                        <td *ngIf="claim.ADITIONALDOCS == undefined">--</td>
                                        <td *ngIf="claim.additionaldoc1 != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.additionaldoc1,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-file-pdf-o" style="color:red;font-size:24px"></i></a></td>
                                        <td *ngIf="claim.additionaldoc1 == undefined">--</td>
                                        <td *ngIf="claim.additionaldoc2 != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.additionaldoc2,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-file-pdf-o" style="color:red;font-size:24px"></i></a></td>
                                        <td *ngIf="claim.additionaldoc2 == undefined">--</td>
                                        <td *ngIf="claim.PRESURGERY != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.PRESURGERY,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-picture-o" style="color:red;font-size:24px"></i></a></td>
                                        <td *ngIf="claim.PRESURGERY == undefined">--</td>
                                        <td *ngIf="claim.POSTSURGERY != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.POSTSURGERY,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-picture-o" style="color:red;font-size:24px"></i></a></td>
                                        <td *ngIf="claim.POSTSURGERY == undefined">--</td>
                                        <td *ngIf="claim.intra_surgery_photo != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.intra_surgery_photo,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-picture-o" style="color:red;font-size:24px"></i></a></td>
                                        <td *ngIf="claim.intra_surgery_photo == undefined">--</td>
                                        <td *ngIf="claim.specimen_removal_photo != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.specimen_removal_photo,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-picture-o" style="color:red;font-size:24px"></i></a></td>
                                        <td *ngIf="claim.specimen_removal_photo == undefined">--</td>
                                        <td *ngIf="claim.patient_photo != undefined"><a style="cursor:pointer ;" (click)="downloadAction($event,claim.patient_photo,claimDetails.HOSPITALCODE,claimDetails.DATEOFADMISSION)"><i class="fa fa-picture-o" style="color:red;font-size:24px"></i></a></td>
                                        <td *ngIf="claim.patient_photo == undefined">--</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <!-- <div class="col-lg-6 col-xxl-5" [formGroup]="myGroup"> -->
                            <div class="col-lg-6 col-xxl-5" [formGroup]="myGroup">
                                <label class="col-form-label">Description<span class="text-danger">*</span></label>
                                <textarea class="form-control" rows="4" id="description" name="description" formControlName="description" maxlength="500" placeholder="Enter description" #myInput [maxlength]="maxChars" (keypress)="DescriptionValidation($event)"></textarea>
                                <!-- <textarea class="form-control" rows="4" id="remarks" name="remarks" formControlName="remarks" maxlength="500" placeholder="Enter description" #myInput [maxlength]="maxChars"></textarea> -->
                                <span class="text-danger small">Characters Remaining: {{maxChars -
                                    myInput.value.length}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-sm-block mt-3 mt-xl-4">
            <button class="btn btn-success px-xl-3 py-xl-2 me-2 " (click)="submitDetails(claimDetails.URN,claimDetails.HOSPITALCODE,claimDetails.TRANSACTIONDETAILSID)">Request</button>
            <button class="btn btn-secondary px-xl-3 py-xl-2" (click)="OncancelClaimRAise()">Cancel</button>

        </div>

    </div>
</div>
<div class="modal justify-content-center" id="appealDisposal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body py-5">
                <span class="text-center text-success">
            <!-- <i class="bi bi-check-circle d-block fs-1 mb-3"></i> -->
            {{dtls}}
            <!-- Your password has been sent to your mail ID. -->
           </span>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="modalClose()">Ok</button>
            </div>
        </div>
    </div>
</div>