.custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
}


.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f0fdf4; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #74c08f; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(2, 71, 2); 
}

.custom-scrollbar {
    scrollbar-color: #85ab92 #e9ebea;
   
}

.fs-4 {
    font-size: 1.2rem !important;
}


.card_amount .display_grid {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  text-align: center;
}

.card_amount .display_grid .grid_item {
    border-right: 1px solid #ddd;

}

.card_amount .display_grid .grid_item:last-child {
    border-right: 0;
}

.card_amount .display_grid .grid_item p {
    padding: 1rem;
    margin: 0;
}

.card_amount .display_grid .card-header  {
background:#ffe4de;
font-weight: 500;
}

.card_amount .display_grid .card-header {
    border-radius: 0;
}

.card_amount .display_grid .grid_item:first-child .card-header {
    border-top-left-radius: 15px;
}


.card_amount .display_grid .grid_item:last-child .card-header {
    border-top-right-radius: 15px;
}


.card_amount{
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.modal-content {
    border-radius: 10px;
  }
  
  .modal-header {
    background-color: #e2f5e9;
    color: #3a8c58;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }

  hr {
    margin: 1rem 0 1rem 0;
    border-color: #a7a7a7;
}

  .badge-success {
    background-color: #CCEEDC;
    color: #137E3F;
    font-size: 0.9rem;
    font-weight: normal;
  }

  .badge-danger {
    background-color: #FFF0F0;
    color: #E94343;
    font-size: 0.9rem;
    font-weight: normal;
  }

  .treatment_list{
    display: flex;
    align-items: center;
    column-gap: 3rem;
    font-size: 14px;
  }

  .treatment_list .treatment_item {width: 100%;}


  .treatment_list label {
    font-weight: normal;
  }

  .treatment_list p {
    font-weight: 500;
    margin: 0;
    color: #000;
  }
  
  .treat_heading {
    color: #0B744C;
    font-size: 1rem;
  }

.text-success {
    color: #1da33c !important;
}
.document-upload .uploaded-doc a {
    display: block;
    padding: 1rem;
}

.document-upload .required-field::before {
    content: "*";
    color: #f00;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600;
}

.btn-outline-info {
    --bs-btn-color: #4b818c;
    --bs-btn-border-color: #4b818c;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #4b818c;
    --bs-btn-hover-border-color: #4b818c;
}
:not(.btn-check) + .btn:hover, .btn:first-child:hover {
    color: #fff;
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

.upload__brd {
    border: 1px solid #ddd;
    border-radius: 10px;
}

.upload__brd .pre_text {
    background: #e2f5e9;
    padding: 6px;
}

.icon_pre_upload {
    font-size: 2rem;
    margin-right: 1rem;
}

.upload__sec {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-bottom: 0rem;
}

.upload__sec img {
    margin: 0;
    padding: 0;
    height: 7rem;
    padding: 0.5rem 0rem;
}

.upload__sec .card {
    padding: 1rem;
}



.card_custom .card-body {
    background: #eff1fa;
    padding: 1.2rem;
    border-radius: 6px;
    min-height: 12rem;
    position: relative;
    border: 1px solid #DEE3F3;
}

.basic_text {
    font-weight: 500;
    font-size: 16px;
    word-break: break-all;
    margin-bottom: 0;
    color: #000;
}

.table_fixed {
    max-height: 400px;
    overflow-y: auto;
    z-index: 0;
}

.mw-130 {
    min-width: 130px;
}

.table_fixed thead {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.patient_text {
    color: #333;
    font-weight: 500;
}

.bg_grey {
    background: #f8f9fa;
}

.card_tabing {
    box-shadow: 0px 2px 9px -1px #ddd;
}

.radius-0 .btn {
    border-radius: 0;
}


.card_tabing .nav-link i {
    padding-right: 5px;
}

.card_tabing .nav-tabs .nav-link {
    position: relative;
    color: #929292;
    border: none;
    padding-bottom: 10px;
    margin-right: 10px;
    transition: 0.5s;
}

.card_tabing .nav-link img {
    height: 16px;
    margin-right: 5px;
}

.card_tabing .nav-tabs .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #02573d;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.card_tabing .nav-tabs .nav-link.active {
    color: #fff;
    background: #458e73;
}

.card_tabing .nav-tabs .nav-link.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

.card_tabing .nav-tabs .nav-link:hover,
.card_tabing .nav-tabs .nav-link:active {
    color: #fff;
    background: #147e5e;
}

.card_tabing .card-body {
    // border: 1px solid #ddd;
    padding: 1rem;
    min-height: 12rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card_tabing .card-header {
    padding: 0;
}

.card_custom .address_new {
    font-size: 15px;
}

.list_inform label {
    font-size: 14px;
}

.table th:first-child,
.table th:last-child {
    border-radius: 0;
}

.card_warning {
    background: #fff7ed;
    overflow: hidden;
    position: relative;
    padding: 1rem 1rem;
    min-height: 10rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #f2e3d1;
    border-radius: 5px;
    height: 100%;
}

.card_warning span {
    background: #fed7aa;
    position: absolute;
    height: 100px;
    width: 100px;
    right: -2rem;
    top: -2rem;
    box-shadow: inset 0 0 0 20px;
    border-radius: 9999px;
    opacity: 1 !important;
    color: #ffedd5;
}

.card_success {
    background: #f0fdf4;
    overflow: hidden;
    position: relative;
    padding: 1rem 1rem;
    height: 100%;
    min-height: 10rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #daf1e1;
    border-radius: 5px;
}

.card_success span {
    background: #bbf7d0;
    position: absolute;
    height: 100px;
    width: 100px;
    right: -2rem;
    top: -2rem;
    box-shadow: inset 0 0 0 20px;
    border-radius: 9999px;
    opacity: 1;
    color: #dcfce7;
}

.card_danger {
    background: #fef2f2;
    overflow: hidden;
    position: relative;
    padding: 1rem 1rem;
    height: 100%;
    min-height: 10rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #f5e2e2;
    border-radius: 5px;
}

.card_danger span {
    background: #fecaca;
    position: absolute;
    height: 100px;
    width: 100px;
    right: -2rem;
    top: -2rem;
    box-shadow: inset 0 0 0 20px;
    border-radius: 9999px;
    opacity: 1 !important;
    color: #fee2e2;
}

.card_primary {
    background: #f2f0ff;
    overflow: hidden;
    position: relative;
    padding: 1rem 1rem;
    border: 1px solid #e6e3f5;
    border-radius: 5px;
    height: 100%;
    min-height: 10rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.card_primary h5 {
    color: #000;
}

.card_primary span {
    background: #d1cafd;
    position: absolute;
    height: 100px;
    width: 100px;
    right: -2rem;
    top: -2rem;
    box-shadow: inset 0 0 0 20px;
    border-radius: 9999px;
    opacity: 1 !important;
    color: #e5e2ff;
}


.treat__content i {
    color: #1da33c;
    font-size: 14px;
}



.shadow-sec {
    box-shadow: 0px 2px 9px -1px #ddd;
}



  .custom__table th,
  .custom__table td {
    padding: 0.6rem;
    text-align: left;
    font-size: 0.9rem;
    white-space: nowrap;
  }


  .custom__table .table {
    margin: 0;
  }

  .custom__table .table-responsive {
    margin-bottom: 1.5rem;
  }

  .custom__table th {
  position: sticky;
  top: -1px;
  }


  .custom__table .case_bg {
    background: #dcfce7;
  }


  .custom__table .table-responsive {
    max-height: 22rem;
  }


  .table th {
    background: #dfe9e3;
    font-weight: 500;
    color: #3d3d3d;
}



.list_inform {
    position: relative;
}

.file-upload .image-upload-wrap {
    border: 2px dashed #ddd !important;
}

.list_inform .col {
    position: relative;
    flex: 3 0 auto;
    padding-left: 0rem;
    margin-top: 20px;
    border-right: 1px solid #ddd;
}

.list_inform .col:last-child {
    border-right: 0;
}

.list_inform img {
    height: 40px;
}

.address_new li {
    display: flex;
    align-items: start;
    column-gap: 2rem;
}

.address_new .address_listhead {
    min-width: 70px;
    font-weight: 500;
}



.patientinfo svg {
    width: 30px;
    height: 30px;
}

.cpdnew__section section {
    margin-bottom: 2rem;
}

.patientinfo .card {
    margin-bottom: 1rem;
    border: 0;
    box-shadow: none !important;
}



.patientinfo hr {
    margin: 0rem 0 0.5rem 0.5rem;
    border-color: #ddd;
    width: 100%;
    opacity: 1;
}


.patientinfo .card-body {
background: #fbfcff;
align-items: center;
padding: 0.5rem;
position: relative;
}

.treat__content {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
    line-height: 18px;
}



.patientinfo .card-group .card::after {
    content: "";
    position: absolute;
    right: 40px;
    bottom: 0;
    border-right: 1px solid #ddd;
    height: 60px;
}




.patientinfo .card-group .card:last-child::after {
    border-right: none;
}




.patientinfo .treat_icon {
    background: #f0efef;
    padding: 0.7rem;
    border-radius: 50px;
    margin-right: 0.5rem;
}

.cpd_heading {
    position: relative;
    margin-bottom: 1rem;
}

.cpd_heading h5 {
    font-size: 1.3rem;
    color: #333;
    font-weight: 500;
}

.cpd_heading::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 3rem;
    border-bottom: 2px solid #93cdb7;
}










/* media query */

@media screen and (max-width: 1440px) {

    .treat__content {
        padding-right: 1rem;
        font-size: 0.9rem;

    }

    .patientinfo .card-group .card::after {
        content: "";
        position: absolute;
        right: 16px;
    }

    .treat__content {
        padding-right: 1rem;
        line-height: 18px;
    }

    .patientinfo .card-group .card::after {
        right: 20px;
    }

    .card_primary,
    .card_danger,
    .card_success,
    .card_warning {
        padding: 0.8rem;
    }

    .basic_text {
        font-size: 14px;
    }

    .card_custom .card-body {
        padding: 0.8rem;
    }

    .patient_text {
        font-size: 1.1rem;
    }

    .card_custom .address_new {
        font-size: 0.9rem;
        line-height: 20px;
        font-size: 14px;
    }

    .list_inform p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    .upload__sec {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* media query */