<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link active">Grievance</a>
                    </li>
                </ul>
            </div>
            <!-- <div class="col-lg-6 ">
                <app-utilite (receiveResponse)="getResponseFromChild($event)"></app-utilite>
            </div> -->
        </div>
    </div>    
    <div class="content-box bg-transparent p-0 border-0">
        <h4 class="no-record text-center my-5">No record found</h4>
    </div>
</div>