<div class="form-cointainer">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-3 col-xxl-3">
          <div class="mb-xl-3">
            <label class="control-label">Year</label
              ><span class="text-danger">*</span>
              <div class="input-group">
                <select class="form-control" id="year" [(ngModel)]="year" aria-label="Disabled select example">
                  <option value="" disabled>Select Year</option>
                  <option *ngFor="let x of yearList" [value]="x">{{x}}</option>
                </select>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-xxl-3" *ngIf="show">
          <div class="mb-xl-3">
            <label class="control-label">CPD Doctor Name</label>
            <ng-autocomplete #auto [data]="cpdList" placeholder="Select CPD Name" (selected)="selectCPDEvent($event)"
            (inputCleared)="clearCPDEvent()" [itemTemplate]="itemTemplate4" [notFoundTemplate]="notFoundTemplate"
            [searchKeyword]="keywordCPD" spellcheck="false">
          </ng-autocomplete>
          <ng-template #itemTemplate4 let-item>
            <a [innerHTML]="item.fullName"></a>
          </ng-template>
          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col align-self-end">
          <div class="col-lg-12">
            <button
              type="submit"
              class="btn btn-success"
              (click)="onClickSearch()"
            >
              Search
            </button>
            &nbsp;
            <button
              type="submit"
              class="btn btn-secondary"
              (click)="resetField()"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-cointainer">
    <div class="main-tab">
      <div class="row justify-content-between">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <th width="40">Sl No</th>
                <th>Month</th>
                <th>Name of CPD</th>
                <th>Amount</th>
                <th>Payment Type</th>
                <th>Payment Info</th>
                <th>Paid On</th>
                <th>Bank Name</th>
                <th>Account Number</th>
                <th>Ifsc Code</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="
                  let list of paymentList
                    | filter : txtsearchDate;
                  index as i
                "
              >
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{ list.paymentMonth }}</td>
                  <td>{{ list.cpdName }}</td>
                  <td>{{ list.finalAmount }}</td>
                  <td>{{ list.paymentType }}</td>
                  <td>{{ list.paymentInfo }}</td>
                  <td>{{ list.paymentDate }}</td>
                  <td>{{ list.bankName }}</td>
                  <td>{{ list.accountNum }}</td>
                  <td>{{ list.ifscCode }}</td>
                </tr>
              </ng-container>
              <tr *ngIf="paymentList?.length == 0">
                <td colspan="19" align="center" style="background-color: white">
                  <strong class="text-danger">NO DATA FOUND!!</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
