.document-upload {
    .uploaded-doc {
        a {
            display: block;
            padding: 1rem;
        }
    }
    .required-field::before {
        content: "*";
        color: red;
    }
}

.claim-detail .patient-info li {
    text-transform: uppercase;
}

.div-patient {
    // width: 130px;
    margin: 0 auto;
    // border: 1px solid #ced4da;
    border-radius: .5rem;
    // padding: 2rem;
}