.lst {
  color: black;
}

.lst:hover {
  cursor: pointer;
  color: green;
}

.pgl {
  background-color: green;
  color: white;
  border-radius: 5px;
}

.upg:hover {
  background-color: #e6e6e6;
  border-radius: 5px;
  cursor: pointer;
}

.ltu {
  color: darkgrey;
}

tbody tr:hover {
  background-color: rgba(184, 228, 247, 0.886);
}

.rw {
  background-color: rgb(192, 227, 191);
}

.rws {
  background-color: #FFA2A2FF;
}

.rw:hover {
  background-color: rgba(184, 228, 247, 0.886);
}
