.larger-icon {
  font-size: 46px; /* Adjust the size as needed */
}

.cardheading {
  font-size: 20px;
  font-weight: 500;
}

.example-container1 {
  height: 450px;
  max-width: 100%;
  overflow: auto;
}
