<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/fodetails" class="nav-link active">Financial details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-box">
        <div class="col-xxl-10">
            <div class="row">
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3">
                        <label class="control-label">Actual Date of Discharge</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="datepickerforfo" name="fromDate" autocomplete="off">
                            <label class="input-group-text bg-transparent border-start-0" for="datepicker1"><i class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3">
                        <label class="control-label"> To Date</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="datepickerforfo1" name="toDate" autocomplete="off">
                            <label class="input-group-text bg-transparent border-start-0" for="datepicker2"><i class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-xxl-4 ">
            <div class="mb-xl-3 ">
                <label class="control-label ">Float No.</label>
                <input type="text" maxlength="30" class="form-control " id="Float" aria-label="Disabled select example " placeholder="Enter Float No.  " autocomplete="off">
            </div>
        </div>
        <div class="col-lg-12 ">
            <div class="d-grid gap-2 d-md-flex ">
                <button type="submit " class="btn btn-success" (click)="viewSnaFloatData()">Search</button>
                <button type="reset" class="btn btn-secondary" (click)="onrestedata()">Reset</button>
            </div>
        </div>
    </div>
</div>
<div class="content-box p-0 overflow-hidden ">
    <div class="table-responsive ">
        <table class="table table-striped mb-0 ">
            <thead>
                <tr>
                    <th width="40 ">Sl No.</th>
                    <th>Float_No</th>
                    <th>Amount(₹)</th>
                    <th>Created_By</th>
                    <th>Created_On</th>
                    <!-- <th>PAYMENT_STATUS</th> -->
                    <th width="90 ">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let floatObj of folist | paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage}; index as i ">
                   
                        <td *ngIf="currentPage==1 ">{{(i+1)}}</td>
                        <td *ngIf="currentPage!=1 ">{{(currentPage-1)*pageElement+ i+1}}</td>
                        <!-- <td> {{i+1}} </td> -->
                        <td> {{floatObj.floatNo}}</td>
                        <td> {{floatObj.amount | currency:"":""}}</td>
                        <td> {{floatObj.createdName}}</td>
                        <td>{{floatObj.createdDate | date :'dd-MMM-yyyy, h:mm:ss a'}}</td>
                        <!-- <td> {{floatObj.payment_STATUS}}</td> -->
                        <td class="text-center ">
                            <a class="btn btn-outline-success btn-sm " (click)="snaFloatAction(floatObj.floatNo)">Details</a>
                        </td>
                    </tr>
                    <!-- <tr *ngIf="claim==null || claim==undefined">
                        <div class="row ">
                            <span style="color: red;text-align: center;position:absolute ">NO DATA FOUND!!</span>
                        </div>
                    </tr> -->
                <!-- </ng-container> -->
                <tr *ngIf="folist.length==0">
                    <div class="row ">
                        <span style="color: red;text-align: center;position:absolute ">NO DATA FOUND!!</span>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row " *ngIf="showPegi ">
    <div class="col-sm-4 ">
        <div class="col-sm-* ">
            show
            <select id="pageItem" name="pageItem" class="custom-select-sm " (change)="pageItemChange()">
                    <option value="10 ">10</option>
                    <option value="20 ">20</option>
                    <option value="30 ">30</option>
                    <option value="40 ">40</option>
                </select> entries
        </div>
    </div>
    <div class="col-sm-8 text-right">
        <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true" (pageChange)="currentPage = $event"></pagination-controls>
    </div>

</div>