<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/snoapproval" class="nav-link active">CPD Approved</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="filter" class="searchCriteriaBox bg-light p-3">
        <div class="row">
            <div class="col-lg-4 col-xxl-4">
                <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                    <div class="mb-xl-3">
                        <div class="mb-xl-3">
                            <label for="EnterFullName" class="form-label">Scheme Name<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" placeholder="Scheme Name" autocomplete="off" maxlength="30" id="schemename" [(ngModel)]="schemeName" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xxl-4 ">
                <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3 ">
                    <label class="control-label">Scheme Category Name<span class="text-danger"></span></label>
                    <select class="form-select" name="schemacategory" id="schemacategory" (change)="getschemacategoryid($event.target.value)" style="margin-top: 9px;">
                        <option value="" selected >All</option>
                        <ng-container *ngFor="let item of schemeList">
                            <option value={{item.schemeCategoryId}}>{{item.categoryName}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xxl-4">
                <div class="mb-xl-3">
                    <label class="control-label">Actual Date of Discharge From</label><span class="text-danger">*</span>
                    <div class="input-group">
                        <input type="text" onkeydown="return false;" class="form-control border-end-0 datepicker" id="datepicker1" name="fromDate">
                        <label class="input-group-text bg-transparent border-start-0" for="datepicker1"><i class="iconbsky-calendar"></i> </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xxl-4">
                <div class="mb-xl-3">
                    <label class="control-label">Actual Date of Discharge To</label><span class="text-danger">*</span>
                    <div class="input-group">
                        <input type="text" onkeydown="return false;" class="form-control border-end-0 datepicker" id="datepicker2" name="toDate">
                        <label class="input-group-text bg-transparent border-start-0" for="datepicker2"><i class="iconbsky-calendar"></i> </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <div class="row mt-1 mb-2">
                <div class="col-lg-12 accordion">
                    <div class="card shadow-sm treatment-history">
                        <div class="accordion-item" id="headingThree">
                            <div class="accordion-button collapsed card-header bg-color text-white" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo" style="background: #5eb76bc2; height: 40px;">
                                <h5 class="mb-0">Advanced Search</h5>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">State Name</label>
                                                <select class="form-select" id="statecode1" [(ngModel)]="stateId" aria-label="Disabled select example" (change)="getDistrict($event.target.value)">
                                        <option value="" selected>Select State</option>
                                        <option *ngFor="let c of statelist" [value]="c.stateCode">{{c.stateName}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">District Name</label>
                                                <select class="form-select" id="distcode1" [(ngModel)]="distId" aria-label="Disabled select example" (change)="getHospital($event.target.value)">
                                        <option value="" selected>Select District</option>
                                        <option *ngFor="let c of distList" [value]="c.DISTRICTCODE">{{c.DISTRICTNAME}}</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Hospital Name</label>
                                                <select class="form-select" name="hospitalcode" id="hospitalcode" [(ngModel)]="hospitalId" aria-label="Disabled select example">
                                        <option value="" selected >Select Hospital Name</option>
                                        <option *ngFor="let c of hospitalList" [value]="c.HOSPITALCODE">{{c.HOSPITALNAME}}</option>
                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Authentication Mode</label>
                                                <select class="form-select" name="authMode" id="authMode" [(ngModel)]="authMode" (change)="onChangeAuthMode($event)">
                                        <option value="" selected >All</option>
                                        <option value="1" selected >POS</option>
                                        <option value="2">IRIS</option>
                                        <option value="3">OTP</option>
                                        <option value="4">Override</option>
                                        <option value="5">FACE</option>
                                        <option value="6">FINGER PRINT</option>
                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Amount</label>
                                                <select class="form-select" name="amountFlag" id="amountFlag" aria-label="Disabled select example" [(ngModel)]="amountFlag" (change)="onChangeAmountFlag($event)">
                                        <option value="0" selected >ALL</option>
                                        <option value="1">Less Approved Amount</option>
                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Description</label>
                                                <input type="text" id="description" class="form-control" [(ngModel)]="description" placeholder="Enter Description" name="description" autocomplete="off">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Mortality</label>
                                                <select class="form-select" id="mortality" [(ngModel)]="mortality" aria-label="Disabled select example" (change)="onChangemortality($event.target.value)">
                                        <option value="" selected>Select Mortality</option>
                                        <option value="Y">Yes</option>
                                        <option value="N">No</option>
                                        </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">CPD Status</label>
                                                <select class="form-select" name="cpdFlag" id="cpdFlag" [(ngModel)]="statusCPD" (change)="onChangeFlag($event)">
                                        <option value="0" selected >CPD Approved</option>
                                        <option value="1">Auto Approved</option>
                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Procedure</label>
                                                <!-- <select class="form-select" id="procedure" [(ngModel)]="procedure" aria-label="Disabled select example"
                                        (change)="getPackageName($event.target.value)">
                                        <option value="" selected>Select Procedure</option>
                                        <ng-container *ngFor="let item of packageHeaderItem,index i">
                                            <option value={{item.packageheadercode}}>
                                                {{item.packageheadername}}({{item.packageheadercode}})
                                            </option>
                                        </ng-container>
                                    </select> -->
                                                <ng-autocomplete #auto [data]="packageHeaderItem" placeholder="Select Procedure" (selected)="selectEvent($event)" (inputCleared)="clearEvent()" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keyword" spellcheck="false"
                                                    [initialValue]="dataRequest?.procedureName">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplate let-item>
                                                    <a [innerHTML]="item.packageheadername"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Package</label>
                                                <!-- <select class="form-select" id="package"  [(ngModel)]="package" aria-label="Disabled select example"
                                        (change)="onChangePackage($event.target.value)" >
                                        <option value="" selected>Select Pakcage</option>
                                        <ng-container *ngFor="let item of packageList,index i">
                                            <option value={{item.procedureCode}}>
                                                {{item.procedureDescription}} ({{item.procedureCode}})
                                            </option>
                                        </ng-container>
                                    </select> -->
                                                <ng-autocomplete #auto1 [data]="packageList" placeholder="Select Package" (selected)="selectEvent1($event)" (inputCleared)="clearEvent1()" [itemTemplate]="itemTemplate1" [notFoundTemplate]="notFoundTemplate1" [searchKeyword]="keyword1" spellcheck="false"
                                                    [initialValue]="dataRequest?.packageName">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplate1 let-item>
                                                    <a [innerHTML]="item.procedureDescription"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate1 let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-xxl-2">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Ward</label>
                                                <!-- <select class="form-select" id="ward"  [(ngModel)]="ward" aria-label="Disabled select example" (change)="onChangeWard($event.target.value)" >
                                        <option value="" selected>Select Ward</option>
                                        <ng-container *ngFor="let item of wardList,index i">
                                            <option value={{item.wardname}}>{{item.wardname}}</option>
                                        </ng-container>
                                    </select> -->
                                                <ng-autocomplete #auto2 [data]="wardList" placeholder="Select Ward" (selected)="selectEvent2($event)" (inputCleared)="clearEvent2()" [itemTemplate]="itemTemplate2" [notFoundTemplate]="notFoundTemplate2" [searchKeyword]="keyword2" spellcheck="false" [initialValue]="dataRequest?.ward">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplate2 let-item>
                                                    <a [innerHTML]="item.wardname"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate2 let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-xxl-2">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Implant</label>
                                                <select class="form-select" id="implant" [(ngModel)]="implant" aria-label="Disabled select example" (change)="onChangeImplant($event.target.value)">
                                        <option value="" selected>Select Implant</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-xxl-2">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Highend Drug</label>
                                                <select class="form-select" name="highend" id="highend" [(ngModel)]="highend" (change)="onChangeHighend($event.target.value)">
                                        <option value="" selected>Select Highend Drug</option>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Search Type</label>
                                                <select class="form-select" name="searchtype" id="searchtype" [(ngModel)]="searchtype" (change)="onChangesearchtype($event.target.value)">
                                          <option value=1>All</option>
                                          <option value=2>1.0 Block Data</option>
                                          <option value=3>2.0 Block Data</option>
                                      </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-xxl-6">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Search</label>
                                                <div class="input-group">
                                                    <input type="text" id="filter" class="form-control border-end-0" [(ngModel)]="filter" placeholder="Search URN, Claim No, Patient Name, Phone No, Hospital Details, Invoice No, Package ID" name="filter" autocomplete="off">
                                                    <label class="input-group-text bg-transparent border-start-0"><i class="bi bi-search"></i></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Trigger</label>
                                                <select class="form-select" id="trigger" [(ngModel)]="trigger" aria-label="Disabled select example" (change)="onChangemamdetrigger($event.target.value)">
                                                  <option value="0" selected>Select Trigger</option>
                                                  <option *ngFor="let hos of triggerList" [value]="hos.slno">{{hos.reportname}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xxl-4">
                                            <div class="mb-xl-3">
                                                <label class="control-label">CPD Name</label>
                                                <ng-autocomplete #auto [data]="cpdList" placeholder="Select CPD Name" (selected)="selectCPDEvent($event)" (inputCleared)="clearCPDEvent()" [itemTemplate]="itemTemplate4" [notFoundTemplate]="notFoundTemplate" [searchKeyword]="keywordCPD" spellcheck="false">
                                                </ng-autocomplete>
                                                <ng-template #itemTemplate4 let-item>
                                                    <a [innerHTML]="item.fullName"></a>
                                                </ng-template>
                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-xxl-3">
                                            <div class="mb-xl-3">
                                                <label class="control-label">Age Group</label>
                                                <select class="form-select" id="agegroup" (change)="getname($event.target.value)">
                                        <option value="" selected>Select</option>
                                        <option *ngFor="let c of schemesubcategory" [value]="c.schemecategoryid">{{c.subcategoryname}}</option>
                                        </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-end">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success" (click)="onClickSearch()">Search</button> &nbsp;
                    <button type="submit" class="btn btn-secondary" (click)="ResetField()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-lg-12 col-xxl-12" style="padding-left: 20px;">
            <span>
                Pending Claim : <b style="color: green;">{{totalClaimCount}}</b>
            </span>
            <span *ngIf="showCount">
                <span *ngIf="totalCpdAPrv">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Approved from CPD: <b style="color: green;">{{totalCpdApproved}}</b>
                </span>
            <span *ngIf="snaAPrv">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Settlement By SNA (Approved/Reject): <b style="color: green;">{{snaApproved}}</b>
                </span>
            <span *ngIf="isPercent">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Percent : <b style="color: red;">{{percent}}%</b>
                </span>
            <span *ngIf="snaAPrv">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Query By SNA: <b style="color: green;">{{snaQuery}}</b>
                </span>
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-lg-4 col-xxl-4" style="padding-top: 10px; padding-left: 20px;">
            Show
            <select id="pageItem" name="pageItem" class="custom-select-sm" (change)="pageItemChange()" [(ngModel)]="pageElement">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option value="{{size}}">All</option>
            </select> Entries
        </div>
        <div class="col-lg-4 col-xxl-4" style="text-align: right; padding-top: 3px;">
            <button class="btn btn-outline-success btn-sm me-1" tooltip="Excel" (click)="downloadReport()">
                <i class="bi bi-file-earmark-spreadsheet" style="font-size: 11pt;"></i>
            </button> &nbsp;
            <button class="btn btn-outline-danger btn-sm me-1" tooltip="pdf" (click)="downloadPdf()">
                <i class="bi bi-file-earmark-pdf" style="font-size: 11pt;"></i>
            </button>
            <button class="btn btn-outline-primary btn-sm me-1" tooltip="pdf" (click)="getCountDetails()">
                View Count
            </button>
        </div>
        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" placeholder="Search here..." name="txtsearchDate" [(ngModel)]="txtsearchDate" autocomplete="off">
                <!-- <button class="btn btn-primary" (click)="filterSearch()"><i class="bi bi-search"></i></button> -->
            </div>
        </div>
    </div>
    <div class="form-cointainer">
        <div class="main-tab">
            <div class="row justify-content-between">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th width="40">Sl No</th>
                                <th>URN</th>
                                <th>Claim No</th>
                                <th style="cursor:pointer;" (click)="changeOrderBy('PatientName')">Patient Name <i id="orderByPatientName" class="bi bi-arrow-down-circle-fill"></i></th>
                                <th>Phone No</th>
                                <th (click)="changeOrderBy('HospitalDetails')" style="cursor:pointer;">Hospital Details <i id="orderByHospitaldetails" class="bi bi-arrow-down-circle-fill"></i></th>
                                <th>Hospital Incentive Status</th>
                                <th>Package ID</th>
                                <th>Actual Date of Admission</th>
                                <th style="cursor:pointer;" (click)="changeOrderBy('ActualDateofDischarge')">Actual Date of Discharge <i id="orderByActualDateofDischarge" class="bi bi-arrow-down-circle-fill"></i></th>
                                <!-- <th>Claim Raised On</th> -->
                                <th style="cursor:pointer;" (click)="changeOrderBy('HospitalClaimAmount')">Hospital Claim Amount (₹) <i id="orderBy" class="bi bi-arrow-down-circle-fill"></i></th>
                                <th style="cursor:pointer;" (click)="changeOrderBy('CPDApprovedAmount')">CPD Approved Amount (₹) <i id="orderByCpdappamount" class="bi bi-arrow-down-circle-fill"></i></th>
                                <th>CPD Mortality</th>
                                <th>Hospital Mortality</th>
                                <!-- <th>Alloted Date</th> -->
                                <th class="text-center" width="130">Take Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let claim of snoclaimlist | filter: txtsearchDate; index as i">
                                <tr title="{{claim.triggerValue == 1 ? claim.triggerMsg : ''}}" [ngClass]="claim.triggerValue == '1' ? {'rws':true} : {'rw':claim.colorStatus ==true}">
                                    <!-- <tr [ngClass]="{'rw':claim.colorStatus == true}"> -->
                                    <td>{{i+pageIn}}</td>
                                    <!-- <td *ngIf="currentPage!=1">{{(currentPage-1)*pageElement+ i+1}}</td> -->
                                    <td>{{claim.urn}}</td>
                                    <td style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#claimnumberhistorymodal" (click)="gethistoryclaimno(claim.claimNo)" title="Click here to get Claim Number Details"><a>{{claim.claimNo}}</a></td>
                                    <!-- <td>{{claim.transactionID}}/{{claim.packageCode}}</td> -->
                                    <td>{{claim.patientName}}</td>
                                    <td>{{claim.phone}}</td>
                                    <td>{{claim.hospitalName}} ({{claim.hospitalCode}})</td>
                                    <td>{{claim.nabhFlag}}</td>
                                    <td title={{claim.packageName}}>{{claim.packageCode}}</td>
                                    <td>{{claim.actualDateOfAdmission}}</td>
                                    <td>{{claim.actualDateOfDischarge}}</td>
                                    <!-- <td> {{claim.createdOn | date :'dd-MMM-yyyy, h:mm:ss a'}}</td> -->
                                    <!-- <td> {{claim.cpdAlotteddate | date :'dd-MMM-yyyy, h:mm:ss a'}}</td> -->
                                    <td>{{claim.currentTotalAmount | currency:'':''}}</td>
                                    <td> {{claim.cpdApprovedAmount | currency:'':''}}</td>
                                    <td *ngIf="claim.mortality == 'Y'"> Yes</td>
                                    <td *ngIf="claim.mortality == 'N'">No</td>
                                    <td *ngIf="claim.mortality == undefined || claim.mortality == ''"> N/A</td>
                                    <td *ngIf="claim.hospitalMortality == 'Y'"> Yes</td>
                                    <td *ngIf="claim.hospitalMortality == 'N'">No</td>
                                    <td *ngIf="claim.hospitalMortality == undefined || claim.hospitalMortality == ''"> N/A</td>
                                    <td class="text-center">
                                        <a class="btn btn-outline-success btn-sm" (click)="onAction(claim.transactionDetailsId,claim.urn,claim.packageCode,claim.txnpackagedetailid)">Action
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr *ngIf="snoclaimlist?.length==0">
                                <td colspan="19" align="center" style="background-color: white;"><strong class="text-danger">NO DATA FOUND!!</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="margin-top: 20px; margin-bottom: 20px;" *ngIf="showPegi">
                    <div class="col-sm-2">
                        <div class="col-sm-*">
                            Show
                            <select id="pageItem" name="pageItem" class="custom-select-sm" (change)="pageItemChange()" [(ngModel)]="pageElement">
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="{{size}}">All</option>
                            </select> Entries
                        </div>
                    </div>
                    <div class="col-sm-10" style="text-align: right;">
                        <ul style="display: inline;" class="text-end">
                            <li (click)="selectedIndex!=1 && prev()" style="display: inline;" [ngClass]="{'lst':selectedIndex!=1,'ltu':selectedIndex==1}">
                                <span>&lt;&lt; Previous </span>
                            </li>
                            <li *ngIf="newList[0].id!=1" (click)="prevlist()" style="display: inline; padding-top: 5px; padding-bottom: 5px;" class="upg">
                                <span style="padding-left: 10px; padding-right: 5px; "> ... </span>
                            </li>
                            <ng-container *ngFor="let element of newList">
                                <li (click)="selectedIndex!=element.id && paginate(element)" style="display: inline; text-align: center; padding-top: 5px; padding-bottom: 5px;" [ngClass]="{'pgl':selectedIndex==element.id,'upg':selectedIndex!=element.id}">
                                    <span style="padding-left: 10px; padding-right: 6px;"> {{element.id}} </span>
                                </li>
                            </ng-container>
                            <li *ngIf="newList[newList.length-1].id!=pgList[pgList.length-1].id" (click)="nextlist()" style="display: inline; padding-top: 5px; padding-bottom: 5px;" class="upg">
                                <span style="padding-left: 10px; padding-right: 5px; "> ... </span>
                            </li>
                            <li (click)="selectedIndex!=pgList?.length && next()" style="display: inline;" [ngClass]="{'lst':selectedIndex!=pgList?.length,'ltu':selectedIndex==pgList?.length}">
                                <span style="padding-left: 4px;"> Next &gt;&gt;</span>
                            </li>
                        </ul>
                        <!-- <pagination-controls id="listing_pagination" [maxSize]="20" [directionLinks]="true"
                            (pageChange)="currentPage = $event" class="text-end" (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CLAIM NUMBER POPUP -->
<div class="modal fade" id="claimnumberhistorymodal" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" tabindex="-1" aria-hidden="true" data-bs-focus="false">
    <div class="modal-dialog modal-xl modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Claim Number Details</h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="accordion custom-accrodion" id="claimexample">
                    <div class="accordion-item mb-3 border-0">
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#otpExample">
                            <div class="accordion-body p-0">
                                <div class="table-responsive mb-2 custom-tbl">
                                    <table class="table table-striped border">
                                        <thead class="tbl-topfix bgcolor-th">
                                            <tr>
                                                <th class="text-center">Sl#</th>
                                                <th class="text-center">Claim No.</th>
                                                <th class="text-center">Hospital Name</th>
                                                <th class="text-center">Hospital Code</th>
                                                <th class="text-center">Action By</th>
                                                <th class="text-center">Action Type</th>
                                                <th class="text-center">Action On</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of claimDetails index as i" class="mob-box">
                                                <td data-th="Sl#">
                                                    <div class="text-center" class="mob-sec">
                                                        {{i+1}}
                                                    </div>
                                                </td>
                                                <td data-th="Hospital Details">
                                                    <div class="text-center" class="mob-sec">
                                                        <div class="fw-500"> {{item.claim_no}} </div>
                                                    </div>
                                                </td>
                                                <td data-th="Hospital Details">
                                                    <div class="text-center" class="mob-sec">
                                                        <div class="fw-500"> {{item.hospitalname}} </div>
                                                    </div>
                                                </td>
                                                <td data-th="Created On">
                                                    <div class="text-center" class="mob-sec">
                                                        <div class="fw-500"> {{item.hospitalcode}} </div>
                                                    </div>
                                                </td>
                                                <td data-th="Verified Member Name" class="fw-500">
                                                    <div class="text-center" class="mob-sec">
                                                        {{item.fullname}}
                                                    </div>
                                                </td>
                                                <td data-th="Verified Member Name" class="fw-500">
                                                    <div class="text-center" class="mob-sec">
                                                        {{item.actiontype}}
                                                    </div>
                                                </td>
                                                <td data-th="Verified Member Name" class="fw-500">
                                                    <div class="text-center" class="mob-sec">
                                                        {{item.actionon}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr *ngIf="claimDetails?.length==0" align="center">
                                                <td class="text-center" data-th="No Data Found" colspan="14" align="center"><strong class="text-danger">No Data found</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>