tbody tr:hover {
    background-color: rgba(173, 230, 167, 0.886);
}

.rw {
    background-color: rgb(192, 227, 191);
}

.rws {
    background-color: rgb(255, 162, 162);
}

.rw:hover {
    background-color: rgba(184, 228, 247, 0.886);
}
