<div class="main-tab">
    <div class="row justify-content-between">
        <div class="col-lg-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a routerLink="/application/floatlist" class="nav-link active">Float List</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/application/viewfloatlist" class="nav-link active">View
        </a>
                </li>
            </ul>
        </div>
    </div>
</div>