<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/supervisorcce" routerLinkActive="active" class="nav-link">Call Details</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/supervisorccedcReverted" routerLinkActive="active" class="nav-link active">DC Reverted Details</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/supervisorcceview" routerLinkActive="active" class="nav-link">View
                            Approval</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-box mt-3">
        <div class="col-xxl-10">
            <div class="row">
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">From Date</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="date3" name="fromDate">
                            <label class="input-group-text bg-transparent border-start-0" for="date3"><i
                                    class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">To Date</label><span class="text-danger">*</span>
                        <div class="input-group">
                            <input type="text" class="form-control border-end-0 datepicker" id="date4" name="toDate">
                            <label class="input-group-text bg-transparent border-start-0" for="date4"><i
                                    class="iconbsky-calendar"></i> </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                        <label class="control-label mb-2">User Id</label>
                        <div class="input-group">
                            <select class="form-select" id="userName" name="userName">
                                <option value="" selected>Select User Id</option>
                                <ng-container *ngFor="let item of userList">
                                    <option value={{item.userId}}>{{item.fullname}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">State Name</label>
                    <select class="form-select" name="stateId" id="stateId"
                        (change)="OnChangeState($event.target.value)">
                        <option value="" selected>Select State</option>
                        <ng-container *ngFor="let item of stateList">
                            <option value={{item.stateCode}}>{{item.stateName}}</option>
                        </ng-container>
                    </select>

                </div>
                <div class="col-md-4">
                    <label class="control-label">District Name</label>
                    <select class="form-select" name="districtId" id="districtId"
                        (change)="OnChangeDistrict($event.target.value)">
                        <option value="" selected>Select District</option>
                        <ng-container *ngFor="let item of districtList">
                            <option value={{item.districtcode}}>{{item.districtname}}</option>
                        </ng-container>
                    </select>

                </div>
                <div class="col-md-4">
                    <label class="control-label">Hospital Name</label>
                    <select class="form-select" name="hospital" id="hospital">
                        <option value="" selected>Select Hospital</option>
                        <ng-container *ngFor="let item of hospitalList">
                            <option value={{item.hospitalCode}}>{{item.hospitalName}}</option>
                        </ng-container>
                    </select>

                </div>

                <!-- <div class="mt-2">
                    <div class="d-grid gap-2 d-md-flex">
                        <button type="submit" class="btn btn-success" (click)="Search()">Search</button>
                        <button type="reset" class="btn btn-secondary" (click)="ResetField()">Reset</button>

                    </div>
                </div> -->

            </div>
            <div class="col-lg-12 mt-3">
                <div class="d-grid gap-2 d-md-flex">
                    <button type="submit" class="btn btn-success" (click)="onSearch()">Search</button>
                    <button type="reset" class="btn btn-secondary" (click)="resetField()">Reset</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-lg-4 col-xxl-4" style="padding-top: 10px; padding-left: 17px;">
            <b>No. Of Records: <span style="color: green;">{{size}}</span></b>
        </div>
        <div class="col-lg-4 col-xxl-4" style="text-align: right; padding-top: 3px;">
            <div class="form-group">
                <button class="btn btn-outline-success btn-sm me-1" type="submit" (click)="downloadReport()">
                    <i class="bi bi-download"></i>
                </button>
            </div>
        </div>
        <!-- <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3 ms-xxl-auto ms-xl-auto ms-lg-auto ms-md-auto"> -->
        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" placeholder="Search" name="txtsearchDate"
                    autocomplete="off" [(ngModel)]="txtsearchDate">
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="row mt-3">
        <div class="table-responsive pkg_tbl">
            <table class="table">
                <thead>
                    <tr>
                        <th width="60">Sl No. </th>
                        <th width="60">Case No </th>
                        <th>URN</th>
                        <th class="mw-150">Patient Name</th>
                        <th>District Name</th>
                        <th>Block Name</th>
                        <th> Panchayat Name</th>
                        <th> Village Name</th>
                        <th> DateOf Admission</th>
                        <th> Total Amount Blocked</th>
                        <th> Hospital District</th>
                        <th>Hospital Name</th>
                        <th>Procedure Name</th>
                        <th>Package Name</th>
                        <th>Patient PhoneNo</th>
                        <th>Alternate PhoneNo</th>
                        <th>Invoice No.</th>
                        <th>MobileNo Active Status</th>
                        <th>Call Response</th>
                        <th>Feedback App Login Id</th>
                        <th>Data Receive Date</th>
                        <th>Calling Date</th>
                        <th>Not connected dial count</th>
                        <th>Remark</th>
                        <th>DC Reverted On</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!cceOutboundData?.length">
                        <td colspan="17" class="text-center"><strong class="text-danger">No data found</strong></td>
                    </tr>
                    <!-- <ng-container *ngFor="let item of cceOutboundData | filter:txtsearchDate | paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage};index as i"> -->
                    <ng-container *ngFor="let item of cceOutboundData | filter:txtsearchDate;index as i">
                        <tr [ngClass]="{'active_trbg' : item.status}">
                            <!-- <td class="th-small" *ngIf="currentPage==1">{{i+1}}</td>
                            <td class="th-small" *ngIf="currentPage!=1">{{(currentPage-1)*pageElement+i+1}}</td> -->
                            <td class="th-small">{{i+pageIn}}</td>
                            <td>{{item?.transId}}</td>
                            <td>{{item?.urn}}</td>
                            <td>{{item?.patientName}}</td>
                            <td>{{item?.districtName}}</td>
                            <td>{{item?.blockName}}</td>
                            <td>{{item?.panchayatName}}</td>
                            <td>{{item?.villageName}}</td>
                            <td>{{item?.dateOfAdm | date:'dd/MM/yyyy'}}</td>
                            <td>{{item?.totalAmountBlocked | currency:'':''}}</td>
                            <td>{{item?.hospitalDist}}</td>
                            <td>{{item?.hospitalName}}</td>
                            <td>{{item?.procedureName}}</td>
                            <td> {{item?.packageName}}</td>
                            <td>{{item?.mobileNo}}</td>
                            <td *ngIf="item?.alternativeNo!=null"> {{item?.alternativeNo}}</td>
                            <td *ngIf="item?.alternativeNo==null">-NA-</td>
                            <td>{{item?.invoiceNo}}</td>
                            <td>{{item?.mobileActiveStatus}}</td>
                            <td>{{item?.callResponse}}</td>
                            <td *ngIf="item?.feedbackLoginId!=null">{{item?.feedbackLoginId}}</td>
                            <td *ngIf="item?.feedbackLoginId==null">-NA-</td>
                            <td *ngIf="item?.alottedDate!=null">{{item?.alottedDate | date: 'dd-MMM-yyyy'}}</td>
                            <td *ngIf="item?.alottedDate==null">-NA-</td>
                            <td>{{item?.createdOn |date: 'dd-MMM-yyyy'}}</td>
                            <td *ngIf="item?.dialedCount!=null">{{item?.dialedCount}}</td>
                            <td *ngIf="item?.dialedCount==null">-NA-</td>
                            <td *ngIf="item?.executiveRemarks!=null">{{item?.executiveRemarks}}</td>
                            <td *ngIf="item?.executiveRemarks==null">-NA-</td>
                            <td>{{item?.dcSubmittedDate | date: 'dd-MMM-yyyy hh:mm:ss a'}}</td>
                            <td>
                                <ng-container>
                                    <button class="btn btn-warning" href="javascript:void(0)" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal1" (click)="view(item.cceId)">Re-Assign
                                    </button>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-top: 20px;" *ngIf="showPegi">
            <div class="col-sm-2">
                <div class="col-sm-*">
                    show
                    <select id="pageItem" name="pageItem" class="custom-select-sm" (change)="pageItemChange()">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="{{size}}">All</option>
                    </select> entries
                </div>
            </div>
            <div class="col-sm-10 text-end">
                <ul style="display: inline;" class="text-end">
                  <li (click)="selectedIndex!=1 && prev()" style="display: inline;" [ngClass]="{'lst':selectedIndex!=1,'ltu':selectedIndex==1}">
                    <span>&lt;&lt; Previous </span>
                  </li>
                  <li *ngIf="newList[0].id!=1" (click)="prevlist()" style="display: inline; padding-top: 5px; padding-bottom: 5px;" class="upg">
                      <span style="padding-left: 10px; padding-right: 5px; "> ... </span>
                  </li>
                  <ng-container *ngFor="let element of newList">
                      <li (click)="selectedIndex!=element.id && paginate(element)" style="display: inline; text-align: center; padding-top: 5px; padding-bottom: 5px;"
                          [ngClass]="{'pgl':selectedIndex==element.id,'upg':selectedIndex!=element.id}">
                          <span style="padding-left: 10px; padding-right: 6px;"> {{element.id}} </span>
                      </li>
                  </ng-container>
                  <li *ngIf="newList[newList.length-1].id!=pgList[pgList.length-1].id" (click)="nextlist()" style="display: inline; padding-top: 5px; padding-bottom: 5px;" class="upg">
                      <span style="padding-left: 10px; padding-right: 5px; "> ... </span>
                  </li>
                  <li (click)="selectedIndex!=pgList?.length && next()" style="display: inline;"
                      [ngClass]="{'lst':selectedIndex!=pgList?.length,'ltu':selectedIndex==pgList?.length}">
                      <span style="padding-left: 4px;"> Next &gt;&gt;</span>
                  </li>
                </ul>
                <!-- <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true"
                    (pageChange)="currentPage = $event"></pagination-controls> -->
            </div>

        </div>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Supervisor remark to CCE </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="remarkRemove()"></button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-6 col-xxl-6">
                        <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                            <label class="control-label mb-2">CCE User</label><span class="text-danger">*</span>
                            <div class="input-group">
                                <select class="form-select" id="cceuserName" name="cceuserName">
                                    <option value="" selected>Select CCE User</option>
                                    <ng-container *ngFor="let item of cceUserList">
                                        <option value={{item.userId}}>{{item.fullname}}</option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="control-label mb-2">Remark<span class="text-danger">*</span></label>
                        <textarea class="form-control" id="reassignRemark" name="reassignRemark" #myInput4 [maxLength]="maxChars"></textarea>
                        <span class="text-danger small">Characters Remaining: {{maxChars - myInput4.value.length}}</span>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)=remarkRemove()>Close</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"(click)="saveReassignData()">Submit</button>
                </div>
            </div>
        </div>
    </div>
