<div class="form-cointainer">
    <div class="main-tab">
        <div class="col-lg-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a routerLink="/application/csmdcstateanddistrictmapping" routerLinkActive="active"
                        class="nav-link">Add</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/application/csmdcstatendistrictmappingview" routerLinkActive="active"
                        class="nav-link active" style="color: #1f723f;">View</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">CSM-DC State And District Mapping-View</h5>
        </div>
        <div class="card-body">
            <div class="row align-items-end">
                <!-- Dropdown for CSM-DC Name -->
                <div class="col-lg-4 col-xxl-4">
                    <div class="mb-3">
                        <label class="form-label">CSM-DC Name<span class="text-danger">*</span></label>
                        <select class="form-select" id="fullname">
                            <option value="" selected disabled>CSM-DC Name</option>
                            <ng-container *ngFor="let item of csmdcList">
                                <option [value]="item.userId">{{ item.fullName }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>

                <!-- Buttons for Search and Reset -->
                <div class="col-lg-4 col-xxl-4">
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-success px-4" style="margin-bottom: 19px;"
                            (click)="view()">
                            Search
                        </button>
                        <input type="button" value="Reset" class="btn btn-secondary px-4" style="margin-bottom: 17px;"
                            (click)="onReset()">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-lg-8 col-xxl-8 row">
            <div class="col-md-9">
                <div style="padding-top: 10px; font-weight: bold; color: green">Total Record : {{list?.length}}
                </div>
            </div>
            <div [align]="'start'" class="col-md-3">
                <button class="btn btn-danger" title="Download PDF" (click)="downloadReport(2)"
                    style="float:right; margin-left: 5px;"><i class="bi bi-file-earmark-pdf"></i></button>
                <button class="btn btn-success" title="Download Excel" (click)="downloadReport(1)"
                    style="float: right"><i class="bi bi-download"></i></button>
            </div>
        </div>

        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" autocomplete="off" placeholder="Search"
                    name="txtsearchDate" [(ngModel)]="txtsearchDate">
            </div>
        </div>
    </div>
    <div class="card shadow-sm">
        <div class="table-responsive example-container">
            <table class="table table-bordered table-hover table-striped mb-0"
                style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <thead style="background-color: #f8f9fa; border: 1px solid #343a40;">
                    <tr>
                        <th rowspan="2" class="text-center align-middle">Sl#</th>
                        <th rowspan="2" class="text-center align-middle">Assigned CSM-DC Name</th>
                        <th rowspan="2" class="text-center align-middle">State Name</th>
                        <th rowspan="2" class="text-center align-middle">District Name</th>
                        <th rowspan="2" class="text-center align-middle">Action</th>
                        <th rowspan="2" class="text-center align-middle">Log</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let v of list | filter: txtsearchDate | paginate: { id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage }; index as i"
                        style="background-color: #fdfdfe;">
                        <td class="text-center">{{ currentPage == 1 ? (i + 1) : (currentPage - 1) * pageElement + i +
                            1}}</td>
                        <td class="text-center align-middle">{{ v.csmdcname }}</td>
                        <td class="text-center align-middle">{{ v.statename }}</td>
                        <td class="text-center align-middle">
                            <span>
                                <span *ngIf="v.showMore">
                                    {{ v.districtname }}
                                    <a href="javascript:void(0)" (click)="toggleShowMore(v)" class="text-primary">Show
                                        Less</a>
                                </span>
                                <span *ngIf="!v.showMore">
                                    {{ v.districtname | slice: 0:30 }}...
                                    <a href="javascript:void(0)" (click)="toggleShowMore(v)" class="text-primary">Show
                                        More</a>
                                </span>
                            </span>
                        </td>

                        <td style="text-align: center;">
                            <a class="btn btn-outline-primary btn-sm me-1" (click)="edit(v.csmdcuserid,v.statecode)">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a class="btn btn-outline-primary btn-sm me-1" (click)="log(v.csmdcuserid,v.statecode)">
                                <i class="bi bi-eye"></i>
                            </a>
                        </td>
                    </tr>
                    <tr *ngIf="list.length === 0">
                        <td colspan="8" class="text-center align-middle"
                            style="padding: 20px; color: #dc3545; font-weight: 600;">
                            <strong>NO DATA FOUND!!</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3" *ngIf="showPegi">
        <div class="col-sm-4 ">
            <div class="col-sm-* ">
                show
                <select id="pageItem" name="pageItem" class="form-select-sm" (change)="pageItemChange()">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="150">150</option>
                    <option value="200">200</option>
                    <option value={{list?.length}}>All</option>
                </select> entries
            </div>
        </div>
        <div class="col-sm-8">
            <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true"
                (pageChange)="currentPage = $event" class="text-end"
                (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="dataModalLabel">Log Data Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center align-middle">Sl#</th>
                                <th class="text-center align-middle">State Name</th>
                                <th class="text-center align-middle">District Name</th>
                                <th class="text-center align-middle">Status</th>
                                <th class="text-center align-middle">Modified By</th>
                                <th class="text-center align-middle">Modified On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let data of loglist  | paginate: { id: 'listing_pagination1', itemsPerPage: pageElement1, currentPage: currentPage1 }; index as i">
                                <td class="text-center">{{ currentPage1 == 1 ? (i + 1) : (currentPage1 - 1) *
                                    pageElement1+ i +1}}</td>
                                <td class="text-center align-middle">{{ data.statename }}</td>
                                <td class="text-center align-middle">{{ data.districtname }}</td>
                                <td class="text-center align-middle">{{ data.actionstatus }}</td>
                                <td class="text-center align-middle">{{ data.modifiedby }}</td>
                                <td class="text-center align-middle">{{ data.modifiedon }}</td>
                            </tr>
                            <tr *ngIf="loglist.length === 0">
                                <td colspan="8" class="text-center align-middle"
                                    style="padding: 20px; color: #dc3545; font-weight: 600;">
                                    <strong>NO DATA FOUND!!</strong>
                                </td>
                            </tr>
                    </table>
                </div>
                <div class="row mt-3" *ngIf="showPegi1">
                    <div class="col-sm-4 ">
                        <div class="col-sm-* ">
                            show
                            <select id="pageItem1" name="pageItem" class="form-select-sm" (change)="pageItemChange1()">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="150">150</option>
                                <option value="200">200</option>
                                <option value={{loglist?.length}}>All</option>
                            </select> entries
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <pagination-controls id="listing_pagination1" [maxSize]="10" [directionLinks]="true"
                            (pageChange)="currentPage1 = $event" class="text-end"
                            (pageBoundsCorrection)="onPageBoundsCorrection1($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>