<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/shasqcadminform" routerLinkActive="active"
                            class="nav-link">Update</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/shasqcadminformview" routerLinkActive="active"
                            class="nav-link active" style="color: #1f723f;">View</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-lg-4 col-xxl-4" style="margin-top: 5px;">
            <b>Total:{{record}}</b>
        </div>
        <div class="col-lg-4 col-xxl-4">
            <div class="table-utilities input-group" style="margin-left: 267px; margin-top: 5px; ">
                <button class="btn btn-success btn-sm mx-1" style="border-radius: 4px;" tooltip="Excel"
                    (click)="downloadReport('excel')">
                    <i class="bi bi-download"></i>
                </button>
                <!-- <button class="btn btn-danger btn-sm mx-1" style="border-radius: 4px;" tooltip="pdf" (click)="downloadReport('pdf')">
                  <i class="bi bi-file-earmark-pdf"></i>
                </button> -->
            </div>
        </div>
        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" autocomplete="off" placeholder="Search" name="txtsearchDate" [(ngModel)]="txtsearchDate">
            </div>
        </div>
    </div>
    <div class="form-cointainer">
        <div class="main-tab">
            <div class="row justify-content-between">
                <div class="table-responsive">
                    <table class="table table-striped" mb-0>
                        <thead>
                            <tr>
                                <th class="text-center">Sl No.</th>
                                <th class="text-center">Hospital</th>
                                <th class="text-center">State</th>
                                <th class="text-center">District</th>
                                <th class="text-center">Mobile No.</th>
                                <th class="text-center">Email Id</th>
                                <th class="text-center">Hospital Category</th>
                                <th class="text-center">Valid Date From</th>
                                <th class="text-center">Valid Date To</th>
                                <th class="text-center">MOU</th>
                                <th class="text-center">MOU Start Date</th>
                                <th class="text-center">MOU End Date</th>
                                <th class="text-center">Empanel Status</th>
                                <th class="text-center">MOU Status</th>
                                <th class="text-center">Hospital Status</th>
                                <th class="text-center">PreAuth Approval</th>
                                <th class="text-center">CPD Approval</th>
                                <th class="text-center">MOU Upload Document</th>
                                <th class="text-center">Certification Number</th>
                                <th class="text-center">Certification Number Validate From</th>
                                <th class="text-center">Certification Number Validate To</th>
                                <th class="text-center">Fire Distinguisher Upload Document</th>
                                <th class="text-center">Hospital Registration Case No</th>
                                <th class="text-center">Hospital Registration Case No Validate From</th>
                                <th class="text-center">Hospital Registration Case No Validate To</th>
                                <th class="text-center">Clinical Certificate Upload Document</th>

                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="record>0">
                                <tr
                                    *ngFor="let item of hospitalData | filter:txtsearchDate | paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage};index as i">
                                    <td class="text-center" *ngIf="currentPage==1">{{i+1}}</td>
                                    <td class="text-center" *ngIf="currentPage!=1">{{(currentPage-1)*pageElement+i+1}}
                                    </td>
                                    <td class="text-center">{{item.hospitalName}}</td>
                                    <td class="text-center">{{item.stateName}}</td>
                                    <td class="text-center">{{item.districtName}}</td>
                                    <td class="text-center">{{item.mobile}}</td>
                                    <td class="text-center">{{item.emailId}}</td>
                                    <td class="text-center">{{item.hospitalCategoryid}}</td>
                                    <td class="text-center">{{item.hosCValidDateFrom}}</td>
                                    <td class="text-center">{{item.hosCValidDateTo}}</td>
                                    <td class="text-center">{{item.mou}}</td>
                                    <td class="text-center">{{item.mouStartDt}}</td>
                                    <td class="text-center">{{item.mouEndDt}}</td>

                                    <td class="text-center">
                                        <span *ngIf="item.empanelmentstatus === '0'">Empanel</span>
                                        <span *ngIf="item.empanelmentstatus === '1'">De-Empanel</span>
                                    </td>
                                    <td>
                                        <span *ngIf="item.mouStatus === '0'">Active</span>
                                        <span *ngIf="item.mouStatus === '1'">InActive</span>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.isBlockActive === '0'">Active</span>
                                        <span *ngIf="item.isBlockActive === '1'">InActive</span>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.preauthapprovalrequired === '0'">No Exception</span>
                                        <span *ngIf="item.preauthapprovalrequired === '1'">Exception 1</span>
                                        <span *ngIf="item.preauthapprovalrequired === '2'">Exception 2</span>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.cpdApprovalRequired === '0'">Yes</span>
                                        <span *ngIf="item.cpdApprovalRequired === '1'">NO</span>
                                    </td>
                                    <td class="text-center" *ngIf="item.mouDocUpload==null"
                                        title="Document Is Not Available">N/A</td>
                                    <td class="text-center" *ngIf="item.mouDocUpload!=null" title="Download"><a
                                            href="javascript:void(0);"
                                            (click)="downlordnotification($event,item.mouDocUpload)"><i
                                                class="bi bi-file-earmark-image" style="font-size: 21px;"></i></a></td>
                                    <td class="text-center">{{item.certification}}</td>

                                    <td class="text-center" *ngIf="item.validateFrom1=='NA'">N/A</td>
                                    <td class="text-center" *ngIf="item.validateFrom1!='NA'">{{item.validateFrom1|
                                        date:'dd-MMM-yyyy'}}</td>

                                    <td class="text-center" *ngIf="item.validateFrom2=='NA'">N/A</td>
                                    <td class="text-center" *ngIf="item.validateFrom2!='NA'">{{item.validateFrom2 |
                                        date:'dd-MMM-yyyy'}}</td>



                                    <td class="text-center" *ngIf="item.cliniccertificatefilename==null"
                                        title="Document Is Not Available">N/A</td>
                                    <td class="text-center" *ngIf="item.cliniccertificatefilename!=null"
                                        title="Download"><a href="javascript:void(0);"
                                            (click)="downlordnotification1($event,item.cliniccertificatefilename,'LicenceAndCertificate/','BuildAndInfra/')"><i
                                                class="bi bi-file-earmark-image" style="font-size: 21px;"></i></a></td>
                                    <td class="text-center">{{item.hospitalregistration}}</td>

                                    <td class="text-center" *ngIf="item.validateFrom3=='NA'">N/A</td>
                                    <td class="text-center" *ngIf="item.validateFrom3!='NA'">{{item.validateFrom3 |
                                        date:'dd-MMM-yyyy'}}</td>


                                    <td class="text-center" *ngIf="item.validateFrom4=='NA'">N/A</td>
                                    <td class="text-center" *ngIf="item.validateFrom4!='NA'">{{item.validateFrom4 |
                                        date:'dd-MMM-yyyy'}}</td>

                                    <td class="text-center" *ngIf="item.regdcertificatefilename==null"
                                        title="Document Is Not Available">N/A</td>
                                    <td class="text-center" *ngIf="item.regdcertificatefilename!=null" title="Download">
                                        <a href="javascript:void(0);"
                                            (click)="downlordnotification1($event,item.regdcertificatefilename,'LicenceAndCertificate/','RegisAndCert/')"><i
                                                class="bi bi-file-earmark-image" style="font-size: 21px;"></i></a>
                                    </td>

                                </tr>
                            </ng-container>
                            <tr *ngIf="record==0">
                                <div class="row">
                                    <span style="color: red;text-align: center;position:absolute">NO DATA FOUND!!</span>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" *ngIf="showPegi">
                    <div class="col-sm-4">
                        <div class="col-sm-*">
                            show
                            <select id="pageItem" name="pageItem" class="custom-select-sm" (change)="pageItemChange()">
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value={{record}}>All</option>
                            </select> entries
                        </div>
                    </div>
                    <div class="col-sm-8 text-right">
                        <pagination-controls id="listing_pagination" [maxSize]="100" [directionLinks]="true"
                            (pageChange)="currentPage = $event" class="text-end"
                            (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>