<div class="form-cointainer">
  <div class="main-tab">
      <div class="row justify-content-between">
          <div class="col-lg-4">
               <ul class="nav nav-tabs ">
                <li class="nav-item" >
                <a routerLink="/application/messagemaster" routerLinkActive="active" class="nav-link ">Add</a>
                </li>

                  <li class="nav-item">
                    <a routerLink="/application/viewmessagemaster" routerLinkActive="active" class="nav-link active">View</a>
                    </li>
              </ul>
          </div>
          <div class="col-lg-6 ">
                  <app-utilite (receiveResponse)="getResponseFromUtil($event)"></app-utilite>
              </div>
        </div>
  </div>
  <div class="row">
    <div class="col-7">
      <p>Total Message : {{listdatacount}}</p>
    </div>
    <div class="col-5">
      <input type="text " id="txtsearchDate " name="txtsearchDate " [(ngModel)]="txtsearchDate" maxlength="20 "
        class="form-control " placeholder="Search here...... " autocomplete="off"
        style=" margin-right: 0px; margin-left: 0px;">
    </div>
  </div>
  <br>
    <div class="table-responsive">
      <table class="table table-striped mb-0">
        <thead>
          <tr>
            <th width="50">Sl#</th>
            <th width="100">Message Type</th>
            <th width="150">Message-Purpose</th>
            <th width="150">Template-ID</th>
            <th width="200">Message-Content</th>
            <th>Message-Content-Format</th>
            <th width="100">Status</th>
            <th width="100">Send Status</th>
            <th width="100">Remarks</th>
            <th width="50">Action</th>
          </tr>
        </thead>
        <tbody
          *ngFor="let v of listdata | filter:txtsearchDate | paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage},index as i">
          <tr >
            <td *ngIf="currentPage==1 ">{{(i+1)}}</td>
            <td *ngIf="currentPage!=1 ">{{(currentPage-1)*pageElement+ i+1}}</td>
            <td>{{v.messagetype}}</td>
            <td> {{v.messageprps}} </td>
            <td *ngIf="v.tempid!=null"> {{v.tempid}} </td>
            <td *ngIf="v.tempid==null"> N/A </td>
            <td>{{v.messagecontaint}}</td>
            <td><div [innerHTML]="v.messagecontaintformat"></div></td>
            <td>
              <p *ngIf="v.statusflag==0">Active</p>
              <p *ngIf="v.statusflag==1">In-Active</p>
            </td>
            <td>
              <p *ngIf="v.smsstatus==0">Yes</p>
              <p *ngIf="v.smsstatus==1">No</p>
            </td>
            <td>{{v.remarks}}</td>
            <td>
              <a class="btn btn-outline-primary btn-sm me-1" (click)="edit(v)"><i
                  class="bi bi-pencil"></i></a>
            </td>
          </tr>
          <tr *ngIf="gllinklist==0">
            <div class="row ">
              <span style="color: red;text-align: center;position:absolute ">NO DATA FOUND!!</span>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" *ngIf="showPegi">
      <div class="col-sm-4">
        <div class="col-sm-*">
          show
          <select id="pageItem" name="pageItem" class="custom-select-sm" (change)="pageItemChange()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select> entries
        </div>
      </div>
      <div class="col-sm-8 text-right">
        <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true"
          (pageChange)="currentPage = $event" class="text-end" (pageBoundsCorrection)="onPageBoundsCorrection($event)">
        </pagination-controls>
      </div>


</div>

