<div class="login-wrapp h-100">
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-xl-5 col-xxl-5">
                <div class="login-box bg-white shadow mx-xxl-3 p-4 p-xxl-5">
                    <form [formGroup]="form" autocomplete="off">
                        <div class="d-flex flex-column justify-content-center mb-3 mb-xl-4">
                            <div class="d-flex align-items-center mb-3 mb-xl-4 pb-xl-1">
                                <img src="./assets/img/govt-logo.png" alt="Government of Odisha" class="pe-2 me-2 pe-lg-3 me-lg-3 border-end">
                                <img src="./assets/img/bsky-logo.png" alt="GJAY, Odisha">
                                <h1 class="ms-2">GJAY</h1>
                            </div>
                            <h4>Change Password</h4>
                        </div>

                        <div class="mb-3">
                            <label for="inputUserName" class="form-label">Username</label>
                            <div class="iconinput userInput">
                                <i class="bi bi-person fs-6"></i>
                                <input type="text" class="form-control usertext userinput" id="userName" name="userName" *ngIf="!userName"
                                    formControlName="userName" placeholder="Enter Username" autocomplete="off">
                                <input type="text" class="form-control usertext userinput" id="userName" name="userName" *ngIf="userName"
                                    formControlName="userName" [value]="userName" placeholder="Enter Username" autocomplete="off" disabled>
                                <div *ngIf="submitted && f['userName'].errors " class="invalid-feedback d-block">
                                    <div *ngIf="f['userName'].errors.required">Username is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="inputUserName" class="form-label">New Password</label>
                            <div class="iconinput password">
                                <input type="{{toggletype}}" class="form-control usertext userinput" id="newPassword" name="newPassword" formControlName="newPassword" placeholder="Enter New Password" autocomplete="off">
                                <div *ngIf="submitted && f['newPassword'].errors " class="invalid-feedback d-block">
                                    <div *ngIf="f['newPassword'].errors.required">New password is required</div>
                                </div>
                                <i class="iconbsky-password"></i>
                                <a href="javascript:void(0);" (click)="enableDisableBtn()" class="enablebtn"><i
                                    class="bi" [ngClass]="showpassword ? 'bi bi-eye' : 'bi-eye-slash' "></i></a>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="inputUserName" class="form-label">Confirm Password</label>
                            <div class="iconinput password">
                                <input type="{{toggletype1}}" class="form-control usertext userinput" id="confirmPassword"
                                    name="confirmPassword" formControlName="confirmPassword" placeholder="Enter New Password Again"
                                    autocomplete="off" (keyup.enter)="OnGenerateOtp()">
                                <div *ngIf="submitted && f['confirmPassword'].errors " class="invalid-feedback d-block">
                                    <div *ngIf="f['confirmPassword'].errors.required">Confirm password is required</div>
                                    <div *ngIf="f['confirmPassword'].errors.pattern">Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character</div>
                                </div>
                                <i class="iconbsky-password"></i>
                                <a href="javascript:void(0);" (click)="enableDisableBtn1()" class="enablebtn"><i
                                    class="bi" [ngClass]="showpassword1 ? 'bi bi-eye' : 'bi-eye-slash' "></i></a>
                            </div>
                        </div>

                        <p class="small text-end">
                            <a class="link" (click)="backToLogin()">&lt;&lt; Back to Login</a>
                        </p>
                        <div class="row">
                            <div class="col d-grid">
                                <a data-bs-toggle="modal" class="btn btn-success px-xl-4 py-xl-2" (click)="OnGenerateOtp()">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <-- <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> ->
            <div class="modal-body py-5">
                <h5 class="text-center text-success">
                    <i class="bi bi-check-circle d-block fs-1 mb-3"></i> Your password has been sent to your mail ID.</h5>
            </div>
            <div class="modal-footer justify-content-center">
                <a routerLink="/login" class="btn btn-success" data-bs-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div> -->
<!-- Modal -->
<input type="hidden" #hdbtn id="hdbtn" data-bs-toggle="modal" data-bs-target="#exampleOtpModal">
<div class="modal fade" id="exampleOtpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-focus="false">
    <div class="modal-dialog" style="max-width: 30%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalLabel" >Enter OTP<span class="text-danger">*</span></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="iconinput">
                        <input type="text" class="form-control usertext userinput" id="otpId" name="otpId" maxlength="6"
                            placeholder="Enter OTP" autocomplete="off"  onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                        <input type="hidden" class="form-control usertext userinput" id="userId" name="userId">
                    </div>
                </div>
                <div class="row" style="padding: 15px;">
                    <div class="col-lg-1 col-xxl-1">
                        <i class="feather-iconsmartphone text-secondary fs-1-2" id="phoneId"></i>
                    </div>
                    <div class="col-lg-11 col-xxl-11">
                        <input type="text" id="mobileNoId" class="form-control text-secondary p-0 border-0" readonly>
                    </div>
                </div>
                <div class="row" id="timerdivId" style="padding: 15px;">
                    <div class="col-lg-1 col-xxl-1">
                        <i class="feather-iconclock fs-1-2"></i>
                    </div>
                    <div class="col-lg-3 col-xxl-3">
                        Time left:
                    </div>
                    <div class="col-lg-8 col-xxl-8">
                        <input type="text" id="timeCounter" class="form-control text-danger p-0 border-0" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" id="sendId" class="btn btn-success" (click)="OnforgotPassword()">Submit</button>
                <button type="button" id="reSendId" class="btn btn-success" (click)="onResendOtp()">Resend OTP</button>
                &nbsp;
                <button #closebutton1 (click)="closemodal()" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>
