.hovered {
    background-color: #8eff9b;
    /* Change to your desired hover color */
    /* Add any other styles for mouse over */
}

.highlighted {
    background-color: #0beb1d;
    /* Change to your desired hover color */
    /* Add any other styles for mouse over */
}

.custom-bg-secondary {
    background-color: #d6d8db !important;
    /* A lighter shade of Bootstrap's secondary color */
}