<div class="login-wrapp h-100">
    <div class="container h-100" id="internal">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-xl-5 col-xxl-5">
                <div class="login-box bg-white shadow mx-xxl-3 p-4 p-xxl-5">
                    <form [formGroup]="loginPageForm" autocomplete="off">
                        <div class="d-flex flex-column justify-content-center mb-3 mb-xl-3">
                            <h4>GJAY PORTAL</h4>
                        </div>
                        <div class="mb-4">
                            <div class="iconinput">
                                <i class="bi bi-person fs-4"></i>
                                <input type="text" class="form-control usertext userinput" id="userInput" formControlName="userInput" name="userInput" placeholder="Enter User Name" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f['userInput'].errors }">
                                <div *ngIf="submitted && f['userInput'].errors " class="invalid-feedback">
                                    <div *ngIf="f['userInput'].errors.required">UserName is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="iconinput password">
                                <input type="{{toggletype}}" class="form-control passwordinput" id="inputPassword" formControlName="inputPassword" name="inputPassword" placeholder="Enter password" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f['inputPassword'].errors }">
                                <div *ngIf="submitted && f['inputPassword'].errors " class="invalid-feedback">
                                    <div *ngIf="f['inputPassword'].errors.required">Password is required</div>
                                </div>
                                <i class="iconbsky-password"></i>
                                <a href="javascript:void(0);" (click)="enableDisableBtn()" class="enablebtn"><i
                                        class="bi" [ngClass]="showpassword ? 'bi bi-eye' : 'bi-eye-slash' "></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-grid">
                                <a class="btn btn-success px-xl-4 py-xl-2" (click)="onLoggedIn()" id="loginBtn">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-custom-backdrop" id="exampleOtpModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-success" id="exampleModalLabel" >Enter OTP<span
                  class="required-asterisk text-danger">
                  *</span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closemodeal()"></button>
              </div>
                <div class="modal-body py-5">


                    <div class="row">
                            <div class="iconinput">
                                <input type="text" class="form-control usertext userinput" id="otpId" name="otpId" maxlength="6"
                                    placeholder="Enter OTP" autocomplete="off"  onkeyup="this.value=this.value.replace(/[^0-9]/g,'');">

                                <input type="hidden" class="form-control usertext userinput" id="userId" name="userId">
                            </div>
                    </div>
                    <div class="d-flex pt-4 pb-3">
                        <div class="pe-2 text-secondary">
                            <i class="feather-iconsmartphone text-secondary fs-1-2" id="phoneId"></i>
                        </div>
                            <input type="text" id="mobileNoId" class="form-control text-secondary p-0 border-0" readonly>
                    </div>
                    <div class="d-flex pt-4 pb-2 position-absolute bottom--10">

                        <div class="pe-2 text-secondary">
                            <p id="timerdivId"><i class="feather-iconclock fs-1-2"></i> Time Left : </p>
                        </div>
                        <div>
                            <input type="text" id="timeCounter" class="form-control text-danger p-0 border-0" readonly>
                        </div>
                    </div>
                </div>
                <!-- <p class="small text-end text-secondary" >
                  <a (click)="backToLogin()">Back to Login &nbsp;  </a>
                </p> -->
                <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" id="sendId" class="btn btn-success" (click)="validateOtp()">Submit</button>
                    <button type="button" id="reSendId" class="btn btn-success" (click)="onResendOtp()">Resend
                        OTP</button>
                </div>
            </div>
        </div>
    </div>
</div>
