<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item" *ngIf="isvisiblesave">
                        <a routerLink="/application/medicalinfrasubcategoryadd" routerLinkActive="active" class="nav-link active">Add</a>
                    </li>
                    <li class="nav-item" *ngIf="visibleupdate">
                        <a routerLink="/application/medicalinfrasubcategoryadd" routerLinkActive="active" class="nav-link active">Update</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/medicalinfrasubcategoryview" routerLinkActive="active" class="nav-link" style="color: #1f723f;">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 ">
                <app-utilite (receiveResponse)="getResponseFromUtil($event)"></app-utilite>
            </div>
        </div>
    </div>
    <div class="content-box">
        <form [formGroup]="MedicalInfraSubCategory" autocomplete="off">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-xl-4">
                        <label for="medInfracatId" class="form-label">Medical Infra Category<span class="text-danger">*</span></label>
                        <select class="form-select"  id="medInfracatId" name="medInfracatId" [(ngModel)]="updateMedicalInfraSubCat.medInfracatId" formControlName="medInfracatId">
                        <!-- <option value="" selected >Select Category</option> -->
                        <option  value="" selected disabled="disabled">Select Category</option>
                        <ng-container *ngFor="let v of categoryData">
                          <option value={{v.medInfracatId}} >{{v.medInfraCatName}}</option>
                        </ng-container>
                      </select>
                    </div>
                    
                    <!-- <div class="mb-xl-4">
                        <label class="control-label">Medical Infra Category</label>
                        <select class="form-select" name="medInfracatId" id="medInfracatId" formControlName="medInfracatId" [(ngModel)]="updateMedicalInfraSubCat.medInfracatId">
                            <option value="" selected>Medical Infra Category</option>
                            <ng-container *ngFor="let item of categoryData">
                                <option value={{item.medInfracatId}}>{{item.medInfraCatName}}</option>
                            </ng-container>
                        </select>
                    </div> -->
                </div>   

                <div class="col-lg-4">
                    <div class="mb-xl-4">
                        <label for="medInfraSubCatName" class="form-label">Medical Infra Sub Category<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" type="text" minlength="3" maxlength="200"
                            name="medInfraSubCatName" id="medInfraSubCatName" formControlName="medInfraSubCatName"
                            [(ngModel)]="updateMedicalInfraSubCat.medInfraSubCatName" placeholder="Enter Medical Infra Sub-Category"
                            onkeyup="this.value=this.value.replace(/[^a-zA-Z0-9/-()-@-, ]/g,'');"
                            (keyup)="keyfunction1($event.target)"/>
                    </div>

                </div>
            </div>
            <div class="row">
                <!------------------------------->
                <div class="col-lg-4 col-xxl-4" *ngIf="visibleupdate">
                    <div class="mb-3">
                        <label>Status:</label>&nbsp;&nbsp;
                        <label *ngIf="updateMedicalInfraSubCat.statusFlag==0">
                            <input type="radio" checked="checked" [checked]="true"
                                (click)="yes($event)" name="statusFlag" id="statusFlag">Active &nbsp;&nbsp;
                            <input type="radio" (click)="no($event)" name="statusFlag"
                                id="statusFlag">In-Active
                        </label>

                        <label *ngIf="updateMedicalInfraSubCat.statusFlag==1">
                            <input type="radio" (click)="yes($event)" name="statusFlag"
                                id="statusFlag">Active &nbsp;&nbsp;
                            <input type="radio" checked="checked" [checked]="true"
                                (click)="no($event)" name="statusFlag" id="statusFlag">In-Active
                        </label>
                    </div>
                </div>
                <!------------------------------->
            </div>
            <div class="col-lg-12" >
                <div *ngIf="isvisiblesave">
                    <input type="submit" value="Save" class="btn btn-success"
                        (click)="save()">&nbsp;
                    <input type="Reset" value="Reset"
                        (click)="resetData()" class="btn btn-secondary">
                </div>
                <div *ngIf="visibleupdate">
                    <input type="submit" value="Update" class="btn btn-success"
                        (click)="update(updateMedicalInfraSubCat)">&nbsp;
                    <input type="submit" value="Cancel"
                        class="btn btn-secondary" (click)="cencel1()">
                </div>
            </div>
        </form>
    </div>
</div>


