<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item" *ngIf="isSaveData">
                        <a routerLink="/application/querytype" routerLinkActive="active" class="nav-link active">Add</a>
                    </li>
                    <li class="nav-item" *ngIf="isUpdateData">
                        <a routerLink="/application/querytype" routerLinkActive="active"
                            class="nav-link active">Update</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/querytypeview" routerLinkActive="active"
                            class="nav-link active">View</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <app-utilite (receiveResponse)="getResponseFromUtil($event)"></app-utilite>
            </div>

            <div class="content-box">
                <div class="row">
                    <form [formGroup]="addQueryType" autocomplete="off" id="subUpdate">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                    <label for="typeName" class="form-label">Category Type:<span
                                            class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="typeName" maxlength="18"
                                        name="typeName" [(ngModel)]="updateQuerytype.typeName"
                                        formControlName="typeName" placeholder="Enter Category Type"
                                        onkeyup="this.value=this.value.replace(/[^a-zA-Z ]/g,'');"
                                        (keyup)="keyfunction1($event.target)"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                        <div class="mb-3">
                                          <label for="EnterFunctionDescription" class="form-label">Remark<span class="text-danger">*</span></label>
                                            <textarea class="form-control"  placeholder="Enter  Remark" [(ngModel)]="updateQuerytype.remark" formControlName="remark" autocomplete="off" id="remark" maxlength="200"
                                            onkeyup="this.value=this.value.replace(/[^0-9.a-zA-Z@/_() ]/g,'');" #myInput [maxlength]="maxChars" (keypress)="keyPress($event)" (keyup)="keyfunction2($event.target)"></textarea>
                                            <!-- <span class="text-danger small">Characters Remaining: {{maxChars - myInput.value.length}}</span> -->
                                            <span class="text-danger small">Characters Remaining: {{maxChars - myInput.value.length}}</span>
                                          </div>
                                </div>
                            </div>
                               <div class="row">
                                <div>
                                     <!-------------------->
                                    <div class="col-lg-4" *ngIf="isUpdateData">
                                    <div class="mb-3">
                                        <label>Status:</label>&nbsp;&nbsp;
                                        <label *ngIf="updateQuerytype.statusflag==0">
                                            <input type="radio" checked="checked" [checked]="true" (click)="yes($event)"
                                                name="status" id="status">Active &nbsp;&nbsp;
                                            <input type="radio" (click)="no($event)" name="status" id="status">In-Active
                                        </label>

                                        <label *ngIf="updateQuerytype.statusflag==1">
                                            <input type="radio" (click)="yes($event)" name="status" id="status">Active
                                            &nbsp;&nbsp;
                                            <input type="radio" checked="checked" [checked]="true" (click)="no($event)"
                                                name="status" id="status">In-Active
                                        </label>
                                    </div>
                                    </div>
                                    <!-------------------->
                                    <div *ngIf="isSaveData ">
                                        <button type="button" class="btn btn-success"
                                            (click)="saveData()">Submit</button>&nbsp;&nbsp;
                                        <button type="reset" (click)="resetData()" class="btn btn-secondary "
                                            style="padding: 7px 16px 7px 16px;">Reset</button>
                                    </div>
                                    <div *ngIf="isUpdateData">
                                        <button class="btn btn-success"
                                            (click)="update(updategroupname)">Update</button>&nbsp;&nbsp;
                                        <button (click)="resetData()" type="reset" class="btn btn-secondary"
                                            style="padding: 7px 16px 7px 16px;">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

