<div class="main-tab">
    <div class="row justify-content-between">
        <div class="col-lg-4">
            <ul class="nav nav-tabs ">
                <li class="nav-item">
                    <a routerLink="/application/userInactive" routerLinkActive="active" class="nav-link active">User
                        Inactivation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="filter" class="searchCriteriaBox bg-light p-3">
    <div class="row">
        <div class="col-lg-4 col-xxl-4">
            <div class="mb-xl-3">
                <label class="control-label">User Name</label>
                <!-- <input class="form-control" type="text" placeholder="Enter User Name" autocomplete="off" name="userName"
                     id="userName" /> -->
                <ng-autocomplete #auto [data]="userList" placeholder="Enter User Name" (selected)="selectEvent($event)"
                    (inputCleared)="onReset()" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                    [searchKeyword]="keyword" spellcheck="false">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.fullname"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
            <!-- <div class="d-grid gap-2 d-md-flex" style="margin-left: 20px;">
                <button type="submit" class="btn btn-success" (click)="getList()">Search</button>
                <button type="reset" class="btn btn-secondary" (click)="ResetField()">Reset</button>
            </div> -->
        </div>
    </div>
</div>
<br>
<div class="row" style="margin-top: 10px;margin-bottom: 1px;">
    <div class="col-lg-4 col-xxl-4" style="padding-top: 10px; padding-left: 17px;">
        <b>Total Users: <span style="color: green;">{{listData.length}}</span></b>
    </div>
    <div class="col-lg-4 col-xxl-4" style="text-align: right; padding-top: 3px;">

        <button class="btn btn-success btn-sm mx-1" type="submit" (click)="downloadReport(1)">
            <i class="bi bi-download"></i>
        </button>
        &nbsp;
        <button class="btn btn-danger btn-sm me-1" type="submit" (click)="downloadReport(2)"><i
                class="bi bi-file-earmark-pdf"></i></button>

    </div>
    <div class="col-lg-4 col-xxl-4">
        <div class="input-group" style="margin-bottom: 15px;">
            <input type="text" id="txtsearchDate" class="form-control" placeholder="Search here" name="txtsearchDate"
                [(ngModel)]="txtsearchDate" autocomplete="off">
        </div>
    </div>
</div>
<div class="row" *ngIf="showPegi">
    <div class="col-sm-4">
        <div class="col-sm-*">
            show
            <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value={{record}}>All</option>
            </select> entries
        </div>
    </div>
    <!-- <div class="col-sm-8 text-right">
        <pagination-controls id="listing_pagination" [maxSize]="100" [directionLinks]="true"
            (pageChange)="currentPage = $event" class="text-end"
            (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
    </div> -->
</div>
<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="table-responsive">
                <table class="table table-striped" mb-0>
                    <thead>
                        <tr>
                            <th>Sl No.</th>
                            <th width="300">Username</th>
                            <th width="600">Full Name</th>
                            <!-- <th>Mobile</th>
                            <th>Email</th> -->
                            <th>User Type</th>
                            <th>Status</th>
                            <th style="text-align: center;">Action</th>
                            <!-- <th width="100">Detail</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="record>0">
                            <tr *ngFor="let item of listData | filter:txtsearchDate | paginate: {id: 'listing_pagination', 
                            itemsPerPage: pageElement, currentPage: currentPage};index as i">
                                <td *ngIf="currentPage==1">{{i+1}}</td>
                                <td *ngIf="currentPage!=1">{{(currentPage-1)*pageElement+i+1}}</td>
                                <td>{{item.userName}}</td>
                                <td>{{item.fullname}}</td>
                                <!-- <td>{{item.phone}}</td>
                            <td>{{item.email}}</td> -->
                                <td>{{item.groupId.groupTypeName}}</td>
                                <td>
                                    <span *ngIf="item.status === 0">Active</span>
                                    <span *ngIf="item.status === 1">InActive</span>
                                </td>
                                <td style="text-align: center;">
                                    <a class="btn btn-outline-danger btn-sm me-1"
                                        (click)="statusChange(item.userId,item.status)">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>

                            </tr>
                        </ng-container>
                        <tr *ngIf="record==0">
                            <td colspan="6" align="center">
                                <strong class="text-danger">No data found</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" *ngIf="showPegi">
                <div class="col-sm-4">
                    <div class="col-sm-*">
                        show
                        <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
                            <option value="100">100</option>
                            <option value="200">200</option>
                            <option value="300">300</option>
                            <option value="400">400</option>
                            <option value={{record}}>All</option>
                        </select> entries
                    </div>
                </div>
                <div class="col-sm-8 text-right">
                    <pagination-controls id="listing_pagination" [maxSize]="100" [directionLinks]="true"
                        (pageChange)="currentPage = $event" class="text-end"
                        (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>