<div class="form-cointainer">
  <div class="main-tab">
      <div class="row justify-content-between">
          <div class="col-lg-4">
              <ul class="nav nav-tabs ">
                  <li class="nav-item">
                      <a routerLink="/application/referralreson" routerLinkActive="active"
                          class="nav-link active">Referral Reason</a>
                  </li>
              </ul>
          </div>
      </div>

  </div>
  <div class="content-box">
      <div class="col-xxl-10">
        <form [formGroup]="group">
              <div class="row" id="field">
                  <div class="col-lg-8 col-xxl-8">
                    <div class="mb-xl-3">
                      <label for="EnterFunctionDescription" class="form-label">Referral Reason<span class="text-danger">*</span></label>
                        <textarea class="form-control"  placeholder="Enter  Description" formControlName="referaldesc" autocomplete="off" id="reson" maxlength="100"
                        [(ngModel)]="reson" onkeyup="this.value=this.value.replace(/[^0-9.a-zA-Z@/_() ]/g,'');" #myInput [maxlength]="maxChars" (keypress)="keyPress($event)"></textarea>
                        <span class="text-danger small">Characters Remaining: {{maxChars - myInput.value.length}}</span>
                    </div>
                  </div>
              </div>
              <div class="col-lg-4 col-xxl-4" *ngIf="update">
                <div class="mb-xl-3">
                    <label>Status:</label>&nbsp;&nbsp;<br>
                            <label *ngIf="status==0">
                                <input type="radio" checked="checked" [checked]="true" (click)="yes($event)"
                                name="status" id="status">Active &nbsp;&nbsp;
                                <input type="radio" (click)="no($event)"
                                name="status" id="status">In-Active
                            </label>

                            <label *ngIf="status==1">
                                <input type="radio" (click)="yes($event)"
                                name="status" id="status">Active &nbsp;&nbsp;
                                <input type="radio" checked="checked" [checked]="true" (click)="no($event)"
                                name="status" id="status">In-Active
                            </label>
                </div>
            </div>
        </form>
              <div class="col-lg-12">
                  <label class="form-label d-none d-md-block">&nbsp;</label>
                  <div class="d-grid gap-2 d-md-flex">
                      <div >
                        <div *ngIf="update">
                          <button type="button" class="btn btn-success"
                              (click)="Update()">Update</button>&nbsp;
                          <input type="button" value="Reset" class="btn btn-secondary" (click)="ResetForm()">
                      </div>
                          <div *ngIf="!update">
                              <button type="button" class="btn btn-success"
                                  (click)="SubmitCreate()">Submit</button>&nbsp;
                              <input type="button" value="Reset" class="btn btn-secondary" (click)="ResetForm()">
                          </div>
                      </div>
                  </div>
              </div>
  </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="col-sm-*" *ngIf="showPegi" style="margin-top: 2ch;">
        show
        <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value={{count}}>All</option>
        </select> entries
      </div>
    </div>
    <div class="col-2" style="margin-top: 2ch;">
      <b>Total : {{count}}</b>
    </div>
    <div class="col-2" style="text-align:end ;">
      <!-- <button class="btn btn-success btn-sm mx-1" style="margin-top: 10px" tooltip="Excel" (click)="downloadList(1)">
    <i class="bi bi-file-earmark-spreadsheet"></i>
   </button> -->
      <!-- <button class="btn btn-danger btn-sm mx-1" style="margin-top: 10px" tooltip="pdf" (click)="downloadList(2)">
      <i class="bi bi-file-earmark-pdf"></i>
  </button> -->
  </div>
    <div class="col-5">
      <input type="text " id="txtsearchDate " name="txtsearchDate " [(ngModel)]="textserch" maxlength="20"
        class="form-control " placeholder="Search here...... " autocomplete="off"
        style=" margin-right: 0px; margin-left: 0px;">
    </div>
  </div>
  <!-- <br> -->
  <div class="table-responsive " id="treatmentTable" style="margin-top:1ch;">
    <table class="table table-striped mb-0">
      <thead>
        <tr>
          <th width="50">Sl#</th>
          <th >Referral Reason</th>
          <th >Create On</th>
          <th >Status</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of list | filter:textserch | paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage} ,index as i">
          <td *ngIf="currentPage==1 ">{{(i+1)}}</td>
          <td *ngIf="currentPage!=1 ">{{(currentPage-1)*pageElement+ i+1}}</td>
          <td>{{v.referaldesc}}</td>
          <td>{{v.createon | date :'dd-MMM-yyyy'}}</td>
          <td *ngIf="v.status==0">Active</td>
          <td *ngIf="v.status==1">In-Active</td>
          <td style="text-align: center;"><a class="btn btn-outline-primary btn-sm me-1"(click)="edit(v)"><i
            class="bi bi-pencil"></i></a></td>
        </tr>
        <tr *ngIf="count==0">
          <td colspan="20" align="center">
            <strong class="text-danger">NO DATA FOUND!!</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div><br>
  <div class="row" *ngIf="showPegi">
    <div class="col-sm-4">
      <div class="col-sm-*">
        show
        <select id="pageItem" name="pageItem" class="custom-select-sm" [(ngModel)]="pageElement">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value={{count}}>All</option>
        </select> entries
      </div>
    </div>
    <div class="col-sm-8 text-right">
      <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true"
        (pageChange)="currentPage = $event" class="text-end" (pageBoundsCorrection)="onPageBoundsCorrection($event)">
      </pagination-controls>
    </div>
  </div>
</div>
