<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/systemadminsnarejectedList" class="nav-link active">System Admin SNA Rejected List</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="filter" class="searchCriteriaBox bg-light p-3">
        <div class="row">
            <div class="col-lg-4 col-xxl-4">
                <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3">
                    <div class="mb-xl-3">
                        <div class="mb-xl-3">
                            <label for="EnterFullName" class="form-label">Scheme Name<span class="text-danger">*</span></label>
                            <input class="form-control" type="text" placeholder="Scheme Name" autocomplete="off" maxlength="30" id="schemename" [(ngModel)]="schemeName" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xxl-4 ">
                <div class="mb-xl-3 mb-lg-3 mb-md-3 mb-3 ">
                    <label class="control-label">Scheme Category Name<span class="text-danger"></span></label>
                    <select class="form-select" name="schemacategory" id="schemacategory" (change)="getschemacategoryid($event.target.value)" style="margin-top: 9px;">
                        <option value="" selected >All</option>
                        <ng-container *ngFor="let item of schemeList">
                            <option value={{item.schemeCategoryId}}>{{item.categoryName}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">Actual Date of Discharge From</label><span class="text-danger">*</span>
                    <div class="input-group">
                        <input type="text" class="form-control border-end-0 datepicker" id="datepicker1" name="fromDate">
                        <label class="input-group-text bg-transparent border-start-0" for="datepicker1"><i class="iconbsky-calendar"></i> </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">Actual Date of Discharge To</label><span class="text-danger">*</span>
                    <div class="input-group">
                        <input type="text" class="form-control border-end-0 datepicker" id="datepicker2" name="toDate">
                        <label class="input-group-text bg-transparent border-start-0" for="datepicker2"><i class="iconbsky-calendar"></i> </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">Mortality</label>
                    <select class="form-select" id="mortality" [(ngModel)]="mortality" aria-label="Disabled select example" (change)="onChangemortality($event.target.value)">
                        <option value="" selected>Select Mortality</option>
                        <option value="Y">Yes</option>
                        <option value="N">No</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">State Name</label>
                    <select class="form-select" id="statecode1" [(ngModel)]="stateId" aria-label="Disabled select example" (change)="getDistrict($event.target.value)">
                        <option value="" selected>Select State</option>
                        <option *ngFor="let c of statelist" [value]="c.stateCode">{{c.stateName}}</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">District Name</label>
                    <select class="form-select" id="distcode1" [(ngModel)]="distId" aria-label="Disabled select example" (change)="getHospital($event.target.value)">
                        <option value="" selected>Select District</option>
                        <option *ngFor="let c of distList" [value]="c.DISTRICTCODE">{{c.DISTRICTNAME}}</option>
                        </select>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">Hospital Name</label>
                    <select class="form-select" name="hospitalcode" id="hospitalcode" [(ngModel)]="hospitalId">
                        <option value="" selected >Select Hospital Name</option>
                        <option *ngFor="let c of hospitalList" [value]="c.HOSPITALCODE">{{c.HOSPITALNAME}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">Authentication Mode</label>
                    <select class="form-select" name="authMode" id="authMode" [(ngModel)]="authMode" (change)="onChangeAuthMode($event)">
                        <option value="" selected >All</option>
                        <option value="1" selected >POS</option>
                        <option value="2">IRIS</option>
                        <option value="3">OTP</option>
                        <option value="4">Override</option>
                        <option value="5">FACE</option>
                        <option value="6">FINGER PRINT</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-end">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success" (click)="onClickSearch()">Search</button> &nbsp;
                    <button type="submit" class="btn btn-secondary" (click)="resetField()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 15pt;"></div>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <div class="col-lg-4 col-xxl-4"></div>
        <div class="col-lg-4 col-xxl-4" style="text-align: right; padding-top: 3px;">
            <button class="btn btn-outline-success btn-sm me-1" tooltip="Excel" (click)="downloadReport()">
                <i class="bi bi-file-earmark-spreadsheet" style="font-size: 11pt;"></i>
            </button> &nbsp;
            <button class="btn btn-outline-danger btn-sm me-1" tooltip="pdf" (click)="downloadPdf()">
                <i class="bi bi-file-earmark-pdf" style="font-size: 11pt;"></i>
            </button>
        </div>
        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" placeholder="Search" name="txtsearchDate" [(ngModel)]="txtsearchDate" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="form-cointainer">
        <div class="main-tab">
            <div class="row justify-content-between">
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th width="40">Sl No</th>
                                <th>Case No.</th>
                                <th>URN</th>
                                <th>Claim No</th>
                                <th>Patient Name</th>
                                <th>Hospital Details</th>
                                <th>Package ID</th>
                                <th>Actual Date of Admission</th>
                                <th>Actual Date of Discharge</th>
                                <th>Claim Upload Date</th>
                                <th>Hospital Claim Amount (₹)</th>
                                <th>Hospital Mortality</th>
                                <th class="text-center" width="130">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let claim of snoclaimlist | filter:txtsearchDate; index as i">
                                <tr>
                                    <td>{{i+pageIn}}</td>
                                    <td>{{claim.caseNo}}</td>
                                    <td>{{claim.urn}}</td>
                                    <td style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#claimnumberhistorymodal" (click)="getHistoryClaimNo(claim.claimNo)" title="Click here to get Claim Number Details"><a>{{claim.claimNo}}</a></td>
                                    <td>{{claim.patientName}}</td>
                                    <td>{{claim.hospitalName}} ({{claim.hospitalCode}})</td>
                                    <td title={{claim.packageName}}>{{claim.packageCode}}</td>
                                    <td>{{claim.actualDateOfAdmission| date :'dd-MMM-yyyy'}}</td>
                                    <td>{{claim.actualDateOfDischarge| date :'dd-MMM-yyyy'}}</td>
                                    <td>{{claim.claimraisedby| date :'dd-MMM-yyyy'}}</td>
                                    <td> {{claim.currentTotalAmount | currency:'':''}}</td>
                                    <td *ngIf="claim.hospitalMortality == 'Y'"> Yes</td>
                                    <td *ngIf="claim.hospitalMortality == 'N'">No</td>
                                    <td *ngIf="claim.hospitalMortality == undefined || claim.hospitalMortality == ''"> N/A</td>
                                    <td class="text-center">
                                        <a class="btn btn-outline-success btn-sm" (click)="onAction(claim.transactionDetailsId,claim.urn,claim.packageCode,claim.txnpackagedetailid)">View
                                        </a>
                                    </td>
                                </tr>
                            </ng-container>
                            <tr *ngIf="snoclaimlist.length==0">
                                <td colspan="19" style="color: red; text-align: center;">NO DATA FOUND!!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="margin-top: 20px; margin-bottom: 20px;" *ngIf="showPegi">
                    <div class="col-sm-2">
                        <div class="col-sm-*">
                            Show
                            <select id="pageItem" name="pageItem" class="custom-select-sm" (change)="pageItemChange()" [(ngModel)]="pageElement">
                                <option value="20">20</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="{{size}}">All</option>
                            </select> Entries
                        </div>
                    </div>
                    <div class="col-sm-10" style="text-align: right;">
                        <ul style="display: inline;" class="text-end">
                            <li (click)="selectedIndex!=1 && prev()" style="display: inline;" [ngClass]="{'lst':selectedIndex!=1,'ltu':selectedIndex==1}">
                                <span>&lt;&lt; Previous </span>
                            </li>
                            <ng-container *ngFor="let element of pgList">
                                <li (click)="selectedIndex!=element.id && paginate(element)" style="display: inline; text-align: center; padding-top: 5px; padding-bottom: 5px;" [ngClass]="{'pgl':selectedIndex==element.id,'upg':selectedIndex!=element.id}">
                                    <span style="padding-left: 10px; padding-right: 7px;"> {{element.id}} </span>
                                </li>
                            </ng-container>
                            <li (click)="selectedIndex!=pgList?.length && next()" style="display: inline;" [ngClass]="{'lst':selectedIndex!=pgList?.length,'ltu':selectedIndex==pgList?.length}">
                                <span style="padding-left: 3px;"> Next &gt;&gt;</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CLAIM NUMBER POPUP -->
<div class="modal fade" id="claimnumberhistorymodal" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" tabindex="-1" aria-hidden="true" data-bs-focus="false">
    <div class="modal-dialog modal-xl modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Claim Number Details</h5>
                <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="accordion custom-accrodion" id="claimexample">
                    <div class="accordion-item mb-3 border-0">
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#otpExample">
                            <div class="accordion-body p-0">
                                <div class="table-responsive mb-2 custom-tbl">
                                    <table class="table table-striped border">
                                        <thead class="tbl-topfix bgcolor-th">
                                            <tr>
                                                <th class="text-center">Sl#</th>
                                                <th class="text-center">Claim No.</th>
                                                <th class="text-center">Hospital Name</th>
                                                <th class="text-center">Hospital Code</th>
                                                <th class="text-center">Action By</th>
                                                <th class="text-center">Action Type</th>
                                                <th class="text-center">Action On</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of claimDetails index as i" class="mob-box">
                                                <td data-th="Sl#">
                                                    <div class="text-center" class="mob-sec">
                                                        {{i+1}}
                                                    </div>
                                                </td>
                                                <td data-th="Hospital Details">
                                                    <div class="text-center" class="mob-sec">
                                                        <div class="fw-500"> {{item.claim_no}} </div>
                                                    </div>
                                                </td>
                                                <td data-th="Hospital Details">
                                                    <div class="text-center" class="mob-sec">
                                                        <div class="fw-500"> {{item.hospitalname}} </div>
                                                    </div>
                                                </td>
                                                <td data-th="Created On">
                                                    <div class="text-center" class="mob-sec">
                                                        <div class="fw-500"> {{item.hospitalcode}} </div>
                                                    </div>
                                                </td>
                                                <td data-th="Verified Member Name" class="fw-500">
                                                    <div class="text-center" class="mob-sec">
                                                        {{item.fullname}}
                                                    </div>
                                                </td>
                                                <td data-th="Verified Member Name" class="fw-500">
                                                    <div class="text-center" class="mob-sec">
                                                        {{item.actiontype}}
                                                    </div>
                                                </td>
                                                <td data-th="Verified Member Name" class="fw-500">
                                                    <div class="text-center" class="mob-sec">
                                                        {{item.actionon}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr *ngIf="claimDetails?.length==0" align="center">
                                                <td class="text-center" data-th="No Data Found" colspan="14" align="center"><strong class="text-danger">No Data found</strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>