<div class="form-cointainer">
    <div class="main-tab">
        <div class="row justify-content-between">
            <div class="col-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a routerLink="/application/oldfloatgeneration" routerLinkActive="active" 
                            class="nav-link active">Generate Float</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/application/oldfloatviewreport" routerLinkActive="active"
                            class="nav-link text-success">View Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="filter" class="searchCriteriaBox bg-light p-3">
        <div class="row">
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">Actual Date of Discharge From<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control border-end-0 datepicker" id="formdate" name="fromDate">
                        <label class="input-group-text bg-transparent border-start-0" for="formdate"><i class="iconbsky-calendar"></i> </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">Actual Date of Discharge To<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <input type="text" class="form-control border-end-0 datepicker" id="todate" name="toDate">
                        <label class="input-group-text bg-transparent border-start-0" for="todate"><i class="iconbsky-calendar"></i> </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">State Name</label>
                    <select class="form-select" name="stateId" id="stateId" [(ngModel)]="stateId" (change)="OnChangeState($event.target.value)">
                        <option value="" selected>Select State</option>
                        <ng-container *ngFor="let item of stateList">
                            <option value={{item.stateCode}}>{{item.stateName}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">District Name</label>
                    <select class="form-select" name="districtId" id="districtId" [(ngModel)]="districtId" (change)="OnChangeDistrict($event.target.value)">
                        <option value="" selected>Select District</option>
                        <ng-container *ngFor="let item of districtList">
                            <option value={{item.districtcode}}>{{item.districtname}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-xxl-3">
                <div class="mb-xl-3">
                    <label class="control-label">Hospital Name</label>
                    <select class="form-select" name="hospital" id="hospital" [(ngModel)]="hospital">
                        <option value="" selected>Select Hospital</option>
                        <ng-container *ngFor="let item of hospitalList">
                            <option value={{item.hospitalCode}}>{{item.hospitalName}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col align-self-end">
                <div class="col-lg-12">
                    <button class="btn btn-success mr-2" (click)="getFloatDetails()">Search</button>
                    &nbsp;
                    <button class="btn btn-secondary" (click)="resetTable()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="content-box"> -->
    <!-- <div class="content-box" *ngIf="summary">
        <div class="row">
            <div>
                <div class="card-header pt-0 border-bottom">
                    <h5 class="mb-0 "><strong style="font-size: 15pt; color: #1f723f;">SUMMARY</strong></h5>
                </div>
            </div>
            <div class="col-lg-12">
            <div class="col-lg-9 border-end">
                <div class="">
                    <div class="card-body mt-3">
                        <div class="row gx-xl-5 treatment-details mb-3">
                            <div class="col-xxl-3 col-xl-3">
                                <div>
                                    <p class="text-muted mb-0 ">Total Discharged</p>
                                    <h6 class="mb-0 fs-1-3">
                                        <a style="color: green">{{summary?.TotalDischarged}}</a></h6>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 border-start">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">Total Payment Freezed</p>
                                        <h6 class="mb-0 fs-1-3">
                                            <a style="color: green">{{summary?.paymentFreeze}}</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 border-start">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">Payment Not Freezed</p>
                                        <h6 class="mb-0 fs-1-3">
                                            <a style="color: green">{{summary?.paymentNotFreeze}}</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 border-start">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">Paid</p>
                                        <h6 class="mb-0 fs-1-3">
                                            <a style="color: green">{{summary?.paid}}</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <hr class="mt-xl-3 mb-xl-3">
                        </div>
                        <div class="row gx-xl-5 treatment-details mb-3">
                            <div class="col-xxl-3 col-xl-3">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">Rejected</p>
                                        <h6 class="mb-0 fs-1-3">
                                        <a style="color: green">{{summary?.Rejected}}</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 border-start">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">Approved</p>
                                        <h6 class="mb-0 fs-1-3">
                                        <a style="color: green">{{summary?.Approved}}</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 border-start">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">Investigation</p>
                                        <h6 class="mb-0 fs-1-3">
                                        <a style="color: green">{{summary?.Investigation}}</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 border-start">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">CPD Unprocessed</p>
                                        <h6 class="mb-0 fs-1-3">
                                            <a style="color: green">{{summary?.CPDUnprocessed}}</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ">
                            <hr class="mt-xl-3 mb-xl-3">
                        </div>
                        <div class="row gx-xl-5 treatment-details mb-3">
                            <div class="col-xxl-3 col-xl-3">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">SNA Approved</p>
                                        <h6 class="mb-0 fs-1-3">
                                            <a style="color: green">{{summary?.SNAApproved}}</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 border-start">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">SNA Rejected</p>
                                        <h6 class="mb-0 fs-1-3">
                                            <a style="color: green">{{summary?.SNARejected}}</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-3 col-xl-3 border-start border-end">
                                <div class="d-flex align-items-center ">
                                    <div>
                                        <p class="text-muted mb-0 ">SNA Investigation</p>
                                        <h6 class="mb-0 fs-1-3">
                                            <a style="color: green">{{summary?.SNAInvestigation}}</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> -->
    <!-- <div class="row" style="margin-top: 10px;margin-bottom: 10px;" *ngIf="floatList?.length"> -->
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
        <!-- <div><strong style="font-size: 15pt; color: #1f723f;">FLOAT GENERATION REPORT</strong></div> -->
        <div class="col-lg-4 col-xxl-4" style="padding-top: 10px; padding-left: 12px;">        
            <div class="form-group">
                <b>Total Cases: <span style="color: green;">{{floatList?.length}}</span></b>
            </div>
        </div>
        <div class="col-lg-4 col-xxl-4" style="text-align: right; padding-top: 3px;">
            <div class="form-group">
                <!-- <button class="btn btn-outline-primary btn-sm me-1" title="Generate Float" (click)="downloadFloat()">
                    <i class="bi bi-download"></i>
                </button> -->
                <button class="btn btn-outline-success btn-sm me-1" type="submit" (click)="downloadReport('xcl')">
                    <i class="bi bi-file-earmark-spreadsheet" style="font-size: 13pt;"></i>
                </button>
                &nbsp;
                <button class="btn btn-outline-danger btn-sm me-1" type="submit" (click)="downloadReport('pdf')">
                    <i class="bi bi-file-earmark-pdf" style="font-size: 13pt;"></i>
                </button>
            </div>
        </div>
        <div class="col-lg-4 col-xxl-4">
            <div class="input-group">
                <input type="text" id="txtsearchDate" class="form-control" placeholder="Search here" name="txtsearchDate"
                    [(ngModel)]="txtsearchDate" autocomplete="off">
            </div>
        </div>
    </div>
    <!-- <div class="form-cointainer" *ngIf="floatList?.length"> -->
    <div class="form-cointainer">
        <div class="main-tab">
            <div class="row justify-content-between">
                <div class="table-responsive">
                    <table class="table table-striped" mb-0>
                        <thead>
                            <tr>
                                <th>Sl No</th>
                                <th>Hospital Details</th>
                                <th>District</th>
                                <th>URN</th>
                                <th>Invoice No</th>
                                <th>Case No</th>
                                <th>Patient Name</th>
                                <th>Gender</th>
                                <th>Package Code</th>
                                <th>Package Cost (&#8377;)</th>
                                <th>Package Procedure</th>
                                <th>Actual Date Of Admission</th>
                                <th>Actual Date Of Discharge</th>
                                <th>Mortality (Hospital)</th>
                                <th>Hospital Claimed Amount (&#8377;)</th>
                                <th>Implant Data</th>
                                <th>SNA Claim Status</th>
                                <th>SNA Remarks</th>
                                <th>SNA Approved Amount (&#8377;)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of floatList | filter:txtsearchDate | 
                                paginate: {id: 'listing_pagination', itemsPerPage: pageElement, currentPage: currentPage};index as i">
                                <td *ngIf="currentPage==1">{{i+1}}</td>
                                <td *ngIf="currentPage!=1">{{(currentPage-1)*pageElement+i+1}}</td>
                                <td>{{item[1]}} ({{item[2]}})</td>
                                <td>{{item[3]}}</td>
                                <td>{{item[4]}}</td>
                                <td>{{item[5]}}</td>
                                <td>{{item[6]}}</td>
                                <td>{{item[7]}}</td>
                                <td>{{item[8]}}</td>
                                <td title="{{item[10]}}"><span class="pkd">{{item[9]}}</span></td>
                                <td>{{item[11]}}</td>
                                <td>{{item[12]}}</td>
                                <td>{{item[13]}}</td>
                                <td>{{item[14]}}</td>
                                <td>{{item[15]}}</td>
                                <td>{{item[16]}}</td>
                                <td>{{item[17]}}</td>
                                <td>{{item[18]}}</td>
                                <td>
                                    <span *ngIf="item[19] != '-NA-'"><a href="javascript:void(0)" (click)="show(item[19])">view</a></span>
                                    <span *ngIf="item[19] == '-NA-'">-NA-</span>
                                </td>
                                <td>{{item[20]}}</td>
                            </tr>
                            <tr *ngIf="! floatList?.length">
                                <td colspan="19" align="center"><strong class="text-danger">No data found</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="height: 10pt;"></div>
                <div class="row" *ngIf="showPegi">
                    <div class="col-sm-4">
                        <div class="col-sm-*">
                            show
                            <select id="pageItem" name="pageItem" class="custom-select-sm" (change)="pageItemChange()">
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="500">500</option>
                                <option value="{{floatList?.length}}">All</option>
                            </select> entries
                        </div>
                    </div>
                    <div class="col-sm-8 text-right">
                        <pagination-controls id="listing_pagination" [maxSize]="10" [directionLinks]="true"
                            (pageChange)="currentPage = $event" class="text-end" (pageBoundsCorrection)="onPageBoundsCorrection($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>